


/* Comman css  */
body { font-family: 'Lato'; font-weight: 400;}
h1 {font-weight: 900; color: #000; font-size: 65px; line-height: 1.2;font-family: 'Lato';}
h2 {font-weight: 900; color: #000; font-size: 50px; line-height: 1.2; font-family: 'Lato';}
h5 {font-weight: 700; color: #000; font-size: 20px; line-height: 1.2;}
h6{    color: #3d59d9;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.8px;}
p {font-weight: 400; color: #000; font-size: 16px; line-height: 1.4;}
label {font-weight: 400;}

.btn-primary {padding: 25px; color: #fff; text-transform: uppercase; background-color: #FFCD05; border-radius: 4px; border-color: #FFCD05; font-size: 18px; transition: 0.4s; box-shadow: none !important; outline: 0 !important;}
.btn-primary:hover , .btn-primary:focus, .btn-primary:active:hover , .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary , .btn-primary:active:focus , .btn-primary:active:focus, .btn-primary:active:hover {background-color: #F5C609; border-color: #F5C609;}
 .btn_default{border-radius: 4px; border: 1px solid #3d59d9; padding: 10px 40px; text-transform: uppercase; font-size: 16px; font-weight: bold; font-stretch: normal;  font-style: normal;  line-height: 1.19;  letter-spacing: normal; text-align: center; color: #3d59d9; background: none;}
 .btn_default:hover, .btn_default:focus{ background:#3d59d9; color: #ffffff;  }
.btn_small {font-size:16px; padding:10px 25px;}
/* helpers class */
.marginzero{margin: 0px !important;}
.mtop_10 { margin-top: 10px;}
.mtop_15 { margin-top: 15px;}
.mtop_30 { margin-top: 30px;}
.mtop_75{ margin-top: 75px; }
.pad0{padding-left: 0px; padding-right: 0px;}
.pleft50{ padding-left: 50px; }
.pright50{ padding-right: 50px; }
img{max-width: 100%;}
p{ font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.8px;}
/* 
primary color: #3d59d9;
secondary color: #ffcd05;
third colod: #EEEBFB;
*/

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0;}
    to { opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0; }
    to {opacity: 1;}
}

.sticky {position: fixed; top: 0; width: 100%; box-shadow: 5px 5px 5px rgba(0,0,0,0.2);}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {  padding-top: 102px;}


/* Header css starts here */

/* Structure */
.market_header {width: 100%; display: block; z-index: 10}
.navbar-brand {height: auto; padding: 20px 15px;}

/* Links and dropdown */
.market_header .navbar-default {background-color: #3d59d9; border: none; border-radius: 0; margin-bottom: 0;}
.market_header .navbar-nav{margin: 25px 0;}
.market_header .navbar-nav>li {padding: 0px 10px; background-color: transparent;}
.market_header .navbar-default .navbar-nav>.open>a, .market_header .navbar-default .navbar-nav>.open>a:focus, .market_header .navbar-default .navbar-nav>.open>a:hover {background-color: transparent; color: #ffffff;}
.market_header .navbar-nav>li>a { font-size: 16px; color: #ffffff; font-weight: 400; padding: 15px; transition: all 200ms linear}
.market_header .navbar-default .navbar-nav>li>a:focus, .market_header .navbar-default .navbar-nav>li>a:hover, .market_header .navbar-default .navbar-nav>li>a.active {color: #ffcd05;}
.market_header .navbar-default .navbar-nav>li.client_login a {background-color: rgba(255, 255, 255, 0.4); border-radius: 4px; transition: 0.4s;}
.market_header .navbar-default .navbar-nav>li.client_login a:hover , .market_header .navbar-default .navbar-nav>li.client_login a:focus {background-color: rgba(255, 255, 255, 0.5);}
.market_header .navbar-nav>li a.menubtn{ top:15px;padding:0px; right:-10px;    width: 30px; text-align:center; height: 30px; z-index: 1;cursor: pointer;position: absolute; right: 0;}
.market_header .navbar-nav>li.frstlvl{ padding-right: 20px; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list{ display: none; position: absolute; background: #3d59d9; display:none; padding: 0px; list-style-type: none; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); border-radius: 5px; -webkit-transition: all .3s ease-in; -o-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in;}
.market_header .navbar-nav>li.frstlvl > ul.frstlvl-list > li{ padding-right: 20px; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li{ float: left; width: 100%;position: relative; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li a { float: left; padding: 10px 15px; white-space: nowrap; width: 100%; color: white;}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li a span.fa{ margin-left:5px; font-size: 16px; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.scndlvl ul.scndlvl-list { left: 0px; position: absolute; left: 100%; background: black; position: absolute; background: #3d59d9; opacity: 0; padding: 0px; list-style-type: none; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); border-radius: 5px; -webkit-transition: all .3s ease-in; -o-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in; min-width: 200px;}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li:hover ul.scndlvl-list { opacity: 1;  z-index: 10; visibility: visible; -webkit-transform: rotateX(0) translateZ(0); -moz-transform: rotateX(0) translateZ(0); transform: rotateX(0) translateZ(0); top: -moz-calc(100% - 20px); left: 100%; padding: 10px 0;}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li a.menubtn { right: 10px; left: auto; width: 30px; height: 30px; top: 0px;}
.activeparent { color:#ffffff !important}
.activeparent::after{    content: "\f0d8";  position: absolute; left: 48%; /* transform: rotate(-90deg); */ bottom: -32px; font: normal normal normal 14px/1 FontAwesome; font-size: 20px;color: white;}
a{transition: all 200ms linear;}
a:hover{ color: #ffcd05 !important; text-decoration: none;}
/* BannerBlock css starts here */
.tpbtmpad{ padding:100px 0; }
#headermenu{ width:100%; padding:0px; }
.market_header .navbar-nav>li.client_login { padding-right: 0px;}

.overlay {height: 100%;width: 0;position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden; transition: 0.5s;}
.overlay-content {  position: relative;  top: 25%;  width: 100%;  text-align: center;  margin-top: 30px;}
.overlay a {  padding: 8px;  text-decoration: none;  font-size: 36px;  color: #818181;  display: block;  transition: 0.3s;}
.overlay a:hover, .overlay a:focus {  color: #f1f1f1;}
.overlay .closebtn {  position: absolute;  top: 20px;  right: 45px  font-size: 60px;}



.loginbox{ padding:75px 15px; }
.loginbox .rightpart{ padding-left: 50px; }
.loginform .form-group > label{ font-size: 16px; }
.loginform .form-group > input{ font-size:16px;height:50px; box-shadow: none; border: 1px solid #ccccc3;  }
.loginform .btn-primary{border: 0px; width: 100%;margin-bottom: 20px; font-weight: bold;  height: 50px;box-sizing: border-box;padding: 10px 25px;font-size: 16px;}
.loginform .btn-blue-icon{ display:flex;align-items:center; position: relative;  width: 100%;background: #4285f4; color: white; font-weight: bold;font-size: 14px; padding: 8px 25px 8px 75px;height:50px; margin:20px 0 }
.loginform .btn-blue-icon span{ position: absolute; left: 0px; bottom: 2px;top: 1px;background: white;padding: 10px;border-radius: 4px;height: 46px;width: 48px;display: flex;align-items: center; }
.loginform .btn-blue-icon span img{ width:25px; }
.loginform .signuparea{border: 1px solid #ccccc3; border-width: 1px 0 1px 0; padding: 30px 0; float: left; width:100%;}
.loginform .facebook_btn.btn-blue-icon span { background: transparent;}
.loginbox h1{ margin-top: 0px; margin-bottom: 20px}
.loginform .form-group > input[type=checkbox] {    height: auto;}
.emaiidname{ float: left;width:100%; margin-bottom: 20px; }
.emaiidname span{  font-size: 30px; font-weight: normal;  font-stretch: normal; font-style: normal; line-height: 1.2;letter-spacing: normal;  text-align: left; float: left; color: #000000}
.frgtpswd{ color: #3d59d9; font-weight: bold; text-transform: uppercase; float: right; line-height: 1.88; font-size: 16px; }
a.edit{ padding: 7px 20px 0; float: left; font-size: 20px; color: #000;}
.errormsg{display: flex;margin-bottom: 10px;}
.errormsg p{ color:#ff0000; }
.errormsg p i{ margin-right: 5px; }
.otpbox p.otpnote{color: #00ae79; font-weight: bold;}
.otpbox .input-group{ display: flex; }
.otpbox input { border-right: 0px; border-radius: 0px; text-align: center; height: 50px;}
.otpbox input:first-child{ border-right:1px solid #ccccc3; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.otpbox input:last-child{ border-right:1px solid #ccccc3; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.otpbox .signuparea{ padding:10px 0; border: 0px; }


.signuppage{}
.signuppage h1{ font-size: 35px; font-weight: 900;font-stretch: normal;font-style: normal;line-height: 1.2;letter-spacing: normal; color: #3d59d9; margin-bottom: 30px;}
.autodebitnote { background: rgba(61,89,217,0.04); padding: 30px;}
.autodebitnote h5{    font-size: 25px; line-height: 23px; color: #3d59d9; margin-bottom: 30px;}
.dropdownlselect{ width:100%; display: flex; position: relative;}
select{ border-radius: 4px;   background: none; border:1px solid #ccccc3; width: 100%; /* Here's the code we need */ -webkit-appearance: none; -moz-appearance: none;-ms-appearance: none; -o-appearance: none; appearance: none; padding: 11px 25px 15px 20px; font-size: 16px; width:100%;}
.dropdownlselect::after{font-family: FontAwesome; content: '\f107'; font-size: 20px; position: absolute; top: 10px; right: 10px; color: #434B67; pointer-events: none;}
.checkbox-group{ display: flex; height: 50px; align-items: center; }
.form-check { margin-right: 20px;}
.form-check input{ margin-right: 5px; }
.form-check label{ font-size: 16px; }
#step_2_btn, #step_3_btn, #last_step_btn{ width:auto; float: right; margin-top: 30px; background: #3d59d9; color: white;text-transform: uppercase; padding: 15px 25px; font-size: 16px;  font-weight: bold;}   
#step_2_btn span , #step_3_btn span, #last_step_btn span{left: 0px; padding:0px;
    bottom: 0px; height: auto;
    top: px;
    right: 0px; margin-left:15px; position: relative; display: inline; background: none; width: auto }
.signuppage .autodebitnote .form-check{border: 1px solid #ccccc3; border-radius: 4px; padding: 15px 20px;font-size: 16px;display: flex; align-items: center; margin-top: 0px;}
.signuppage .autodebitnote .form-check label { font-size:16px; color:#3d59d9; font-weight: bold; margin: 0px;  }
.signuppage .autodebitnote .form-check input{ width:20px; height:20px; margin: 0 15px 0 0 }
.signuppage .signuparea{ margin-top: 40px; border-bottom:0px; }
.signuppage .loginform .form-group{margin-bottom: 25px; display: flex; flex-direction: column;}
.ebank.signuppage .signuparea { margin: 0px; border: 0px; padding-top: 10px;}
.ebank .pad0{ padding-right: 125px; }
.ebank .autodebitnote .row {margin: 0px; padding: 10px 0; font-size: 16px;}
.ebank .autodebitnote .row a { color: black; font-size: 20px; margin-right: 10px;}
.ebank .autodebitnote .row b{ float:right; line-height: 28px; }
.ebank.signuppage .autodebitnote .form-check { border-width: 1px 0 0 0; margin: 15px 0 0 0; padding-top: 30px;}
.ebank .autodebitnote .row.totalamount { border-top: 1px solid #ccccc3; margin-top: 20px; padding-top: 20px; padding-left: 25px;}
.ebank .autodebitnote h5 { font-size: 20px; color: #c9c9c9;}
.ebank.signuppage .signuparea .checkbox-group .form-check{ margin-right: 30px; }
.inputbox { border-radius: 4px; border: 1px solid #ccccc3; float: left; width: 100%; margin-bottom: 0px;}
.signuppage .loginform .inputbox .form-group{margin-bottom: 0px;}
.inputbox .form-control{ border:0px; box-shadow: none; height:50px; }
.inputbox .form-group input{border:0px;}
.inputbox .form-group:first-child{ width:60%; float: left; }
.inputbox .form-group:nth-child(2){ width:20%; float: left; }
.inputbox .form-group:last-child{ width:20%; float: left; }
.CardNumberField--ltr .CardBrandIcon-container:not(.is-hidden)+.CardNumberField-input-wrapper{ left: 50px; right: 0; top: 8px;}
    .CardBrandIcon img, .CardBrandIcon svg{ left: 0;top: 5px; margin-top: 0; height: 25px;}
.blueblt{position: relative;}
.blueblt::before{content: ".";position: absolute; left: -2px; font-weight: bold; font-size: 25px; color: #3d59d9;}
.icncard{ position: relative; }
.icncard img{position: absolute;top:18px; left:16px;}
.icncard input{ padding-left: 50px; }

/* Client testimonial css starts here */
.testimonial_block {float: left; width: 100%;}
.client_logo_block { background-color: #EEEBFB; padding: 20px 0;}
.client_logo_block { text-align: center; outline: none;}
.client_logo_block img { display: inline; max-width: 100%;}
.client_logo_block img:focus {outline: none;}
#closebtn{ display: none; }
#closebtn img{width:30px;}




/* Chrome, Safari, Edge, Opera */
.otpbox .input-group input::-webkit-outer-spin-button,
.otpbox .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.otpbox .input-group input[type=number] {
  -moz-appearance: textfield;
}

.loginform input::-webkit-outer-spin-button,
.loginform input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.loginform input[type=number] {
  -moz-appearance: textfield;
}

.date_input input::-webkit-inner-spin-button,
.date_input input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}





.StepProgress { position: relative;  padding-left: 45px; list-style: none; float: left; width:100%; margin: 30px 0;}
.StepProgress::before { display: inline-block; content: ''; position: absolute; top: 0; left: 15px; width: 10px; height: 100%;}
.StepProgress .StepProgress-item { position: relative; counter-increment: list; float: left; width:100%; display: none;}
.StepProgress .StepProgress-item:not(:last-child) { padding-bottom: 20px;}
.StepProgress .StepProgress-item::before { display: inline-block; content: ''; position: absolute; left: -30px; height: 100%; width: 10px; top:35px; border-left:2px solid #ccc;}
.StepProgress .StepProgress-item.is-done{ display: block; }
.StepProgress .StepProgress-item.is-done::before { border-left: 2px solid #ffa705;}
.StepProgress strong { display: block;}
.StepProgress .StepProgress-item.current{ display: block; }
.StepProgress .StepProgress-item.current::before, .StepProgress-item.finished::before { display: none;}
.StepProgress .StepProgress-item.current::after { content:""; padding-top: 1px; width: 19px; height: 18px; top: 35px; left: -40px; font-size: 14px; text-align: center;background-color: #3d59d9; border-color: #3d59d9}
.StepProgress .StepProgress-item::after { position: absolute; top: 35px; left: -37px; border-radius: 50%; content: ""; font-size: 10px; color: #FFF; text-align: center;border: 8px solid #CCC;background-color: #CCC;}
.StepProgress .StepProgress-item.is-done::after { content: ""; font-size: 10px; color: #FFF; text-align: center; border: 8px solid #ffa705; background-color: #ffa705;}
.StepProgress .question{    float: left; background: rgba(61,89,217,0.04); padding: 15px 25px;}
.StepProgress .question a { font-weight: bold; float: left; padding: 10px 20px 0 0; color: #3d59d9}
.StepProgress .question .checkbox-group { display: block; float: left; width: 100%; height: auto;}
.StepProgress .question .form-check { float: left; padding: 10px; border: 1px solid #3d59d9; border-radius: 4px; margin-bottom: 20px;}
.StepProgress .question .form-check label { font-size: 16px; color: #3d59d9; margin-right: 10px;}
.StepProgress .question .form-check.ansyes, .StepProgress .question .form-check.ansno{ padding:0px; border:0px; }
.StepProgress .question input.form-check-input { margin: 4px; border: 1px solid red; width: 15px; height: 15px; float: right;}
.StepProgress .StepProgress-item.current .question p { font-size: 35px; font-weight: bold; line-height: normal;}
.StepProgress .StepProgress-item.current .question a{font-weight: bold; text-transform: uppercase; font-size: 16px;}
.StepProgress .questionpage h1{ margin-bottom: 0px; }
.thanksnote{ font-size: 20px; }
.btnbox{ display: flex; width: 100%; clear: both;justify-content: space-between;padding: 0 15px;}
.btnbox .btn-back-icon {
    width: auto;
    margin-top: 30px;
    background: #3d59d9;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
}
.btnbox .btn-back-icon span{    margin-right: 15px;
    position: relative;
    display: inline;
    background: none;
    width: auto;}
    div#card-number, #card-expiry, #card-cvc {
    padding-top: 15px;
}
@media (max-width: 1199px) { 
  	h1{font-size:55px;}
  	h2{font-size:40px;}
  	.market_header .navbar-nav>li{padding: 0px 5px}
    .market_header .navbar-nav>li>a{ padding:15px 10px; }   

    .loginbox .rightpart{ padding-left: 0px; }
    .loginform .btn-blue-icon{ padding-left: 65px; }  
    .ebank .pad0{ padding-right: 15px; }
    .ebank.signuppage .signuparea .checkbox-group .form-check{ margin-right: 22px; }
}
@media (min-width: 992px) { 
.market_header .navbar-nav>li.frstlvl:hover ul.frstlvl-list{ display: block; z-index: 10; visibility: visible; -webkit-transform: rotateX(0) translateZ(0); -moz-transform: rotateX(0) translateZ(0); transform: rotateX(0) translateZ(0); top: 100%; padding: 10px 0;}

}
@media (max-width: 991px) { 
  	h1{font-size:45px;}
  	h2{font-size:30px;}
    .market_header .navbar-nav>li{padding: 0px 5px; width:100%; float:left;}
    .market_header .navbar-nav>li>a:first-child { float: left; }
    .navbar-brand{padding: 10px 15px; width: 186px; box-sizing: border-box; margin: 0 auto !important; text-align: center;float: none; display: block;}
    .mobile-toggle{margin-top: 16px;}
    .market_header .navbar-nav>li ul.dropdown-menu::before{display: none;}
    .mtop_75{ margin-top: 20px }   
    #headermenu{ height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: rgb(61,89,217); background-color: rgba(61,89,217, 0.9);
    overflow-x: hidden; transition: 0.5s;margin: 0px; padding:0px; }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list{width:100%; float:left; position:relative; -webkit-transition: unset;
    -o-transition: unset; -moz-transition: unset; transition: unset; display:none; box-shadow: none; background:none; padding-left: 10px; margin-bottom: 15px;}
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.scndlvl ul.scndlvl-list{ background:none; margin-bottom: 20px;    position: relative; display:none; padding: 0 0 0 15px;  float: left; width: 100%;left: 0px; box-sizing: border-box; box-shadow: none;}
    .market_header .navbar-nav>li.frstlvl.opensubmenu ul.frstlvl-list, .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.scndlvl.opensubmenu ul.scndlvl-list{ display:block; opacity:1; }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li > a{ width:auto; }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li > a .fa{ transform:rotate(90deg); }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list. li. a.menubtn span.fa{ transform:rotate(45deg); }
    .market_header .navbar-nav>li.opensubmenu a.menubtn .fa{transform:rotate(-180deg);}
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.opensubmenu a.menubtn span.fa{transform:rotate(-90deg);}
    .market_header .navbar-nav>li a.menubtn{ right:7px; }   
    .market_header .navbar-nav{ margin-top: 100px; }
    .market_header .navbar-nav>li.frstlvl{ padding-right: 5px; }
    #headermenu{ display: block; }
    .loginbox .rightpart{ padding-left: 25px; }
    .loginbox{ padding:20px; position: relative; background: url("../images/login_img.jpg"); width:100%; }
    .loginbox .leftpart{display: none;}
    .loginbox .rightpart{ background:white; padding:20px 15px; }
    .clientlogin_mobile { background: transparent; float: right; padding: 4px 0; margin-right: 10px; color: #ffffff; margin-top: 16px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px;width: 44px; height: 34px;}
    #closebtn { float: right;  padding: 5px 20px;  font-size: 40px; font-family: cursive; color: white;}
    .signuppage .loginbox{ width: 750px; background: white; padding:50px 15px; }
     #closebtn{ display: block; }
}
@media (max-width: 768px) { 
    h1{font-size:35px;}
  	h2{font-size:20px;}  	
    .overlaydiv{ z-index: 1; box-shadow: 0px 0px 5px rgba(0,0,0,0.5);  visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp; float: left; width: 100%; background: white; padding:25px 15px;}
    p{ font-size:14px; } 
     .signuppage .loginbox{width:100%;}
}

@media (max-width: 580px) { 
    .loginbox .rightpart .loginform .row .col-xs-6{ width:100%; }
    .checkbox-group{display: block; height: auto;}
    .checkbox-group .form-check{ margin-bottom: 10px; }
    .signuppage .loginform .inputbox{ border:0px; }
    .signuppage .loginform .inputbox .form-group{ border:1px solid #ccccc3; width:100% !important; margin-bottom: 20px; }
    .blueblt::before { left:25px;  }
    .inputbox .form-group input{ padding-left: 50px; }
    .smallbtnbox{ display: block; }
    .smallbtnbox button{    display: block;
    clear: both;
    width: auto;
    float: left !important;}
    
}
@media (max-width: 450px) { 
  .signuparea{ display: flex;  align-items: left; flex-direction: column;}
  .question .form-check label{ font-size: 14px; margin-right: 7px; }
  .StepProgress .StepProgress-item.current .question p{ font-size: 25px; line-height: normal; }
}

