.mb-25 {
	margin-bottom: 25px;
}
.mt-25 {
	margin-top: 25px;
}

.capitalize {
    text-transform: capitalize !important;
}

.dispnone {
    display: none;
}

.help-block {
    color:#e40703 !important;
}

#overlayDocument{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    text-align:center
}
#overlayDocument img{
    position: absolute;
    top:35%;
    left: calc(50% - 16px);
}

.profilebar .dropdown-menu{
    min-width: 12rem !important;
}
.mt-0.my-4{ margin-top: 0px !important; }

.shopifybtn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    background: white;
}
a.logo.logo-large {
    float: left;
}
.shopifybtn img{width: 90px;
    margin-left: 10px;}
#productdtl .transparentfield{background-color: #ffffff;
font-size: 15px;
color: #303030;
border: 1px solid transparent;
border-radius: 3px;
height: auto;
width: 100%;
display: block;
width: 100%;
height: calc(1.5em + .75rem + 2px);
padding: .375rem .75rem;
float: left;}

#productdtl .hide{ display: none; }
.btnupdate{ display: none; }
.btncancel{ display: none; }    