@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=2.8.94");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=2.8.94") format("embedded-opentype"),
  url("../fonts/materialdesignicons-webfont.woff2?v=2.8.94") format("woff2"),
  url("../fonts/materialdesignicons-webfont.woff?v=2.8.94") format("woff"),
  url("../fonts/materialdesignicons-webfont.ttf?v=2.8.94") format("truetype"),
  url("../fonts/materialdesignicons-webfont.svg?v=2.8.94#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=4.0.0-0");
  src: url("../fonts/ionicons.eot?v=4.0.0-0#iefix") format("embedded-opentype"),
  url("../fonts/ionicons.woff2?v=4.0.0-0") format("woff2"),
  url("../fonts/ionicons.woff?v=4.0.0-0") format("woff"),
  url("../fonts/ionicons.ttf?v=4.0.0-0") format("truetype"),
  url("../fonts/ionicons.svg?v=4.0.0-0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "feather";
  src: url("../fonts/feather.eot?t=1525787366991");
  /* IE9*/
  src: url("../fonts/feather.eot?t=1525787366991#iefix") format("embedded-opentype"),
  url("../fonts/feather.woff?t=1525787366991") format("woff"),
  url("../fonts/feather.ttf?t=1525787366991") format("truetype"),
  url("../fonts/feather.svg?t=1525787366991#feather") format("svg");
  /* iOS 4.1- */
}