﻿@font-face {
  font-family: "feather";
  src: url("../fonts/feather.eot?t=1525787366991");
  /* IE9*/
  src: url("../fonts/feather.eot?t=1525787366991#iefix") format("embedded-opentype"),
  url("../fonts/feather.woff?t=1525787366991") format("woff"),
  url("../fonts/feather.ttf?t=1525787366991") format("truetype"),
  url("../fonts/feather.svg?t=1525787366991#feather") format("svg");
  /* iOS 4.1- */
}
.Wrapper {
    margin-bottom: 80px;
}
.content {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.m-r-20{margin-right:20px;}
.m-b-20{ margin-bottom: 20px;}
.left-align{ float: left !important;}
.bdr-b-1{border-bottom:1px solid #d0d0d0}
html{position:relative;min-height:100%;}
body{background:#eaeff5;font-family:Lato,sans-serif;font-size:16px;font-weight:400;color:#a1a1a1;line-height:19px;margin-bottom:40px}
a{color:#3d59d9;}
header{z-index:1;display:flex;position:relative;width:100%;padding:18px 15px 12px;box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.05);background-color:var(--white);}
.logo img{height:35px;}
header .container{display:flex;justify-content:space-between;align-items:center;}
.info-bar{padding:30px 0;background:white;}
.info-bar > .container{display:flex;justify-content:space-between;align-items:center;}
.info-bar > .container .shop-dtl{justify-content:space-between;display:flex;}
.info-bar > .container .shop-dtl img{margin-right:10px;}
.info-bar > .container .shop-dtl .shop-dtl-info h4, .info-bar > .container .shop-dtl .shop-dtl-info b{color:#202020;font-weight:bold;}
.info-bar > .container .shop-dtl .shop-dtl-info b:after{    content: "";
    background: #a1a1a1;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    padding: 3px;
    margin: 0px 8px 4px;}
.info-bar > .container .shop-dtl .shop-dtl-info a{line-height: 15px;
    float: right;
    color: #a1a1a1;}
.btn.btn-access{border:solid 1px #d0d0d0;border-radius:4px;padding:0px;display:flex;align-items:center;}
.btn.btn-access:hover{background:#ebeefb;}
.btn.btn-access:hover .icn{background-color:white }
.btn-access.selected{background:#ebeefb;}
.btn-access.selected .icn{background-color:white }
.btn-access .grant{background:url(../images/circle_unchecked.svg) no-repeat;width:15px;height:15px;float:right;margin:0px 10px 0 10px;background-size:100%;}
.btn-access.selected .grant{background:url(../images/circle_checked.svg) no-repeat;background-size:100% }
.access-dtl{display:flex;align-items:center;justify-content:center;}
span.icn{width:40px;height:40px;text-align:center;float:left;border-right:solid 1px #d0d0d0;border-radius:4px;padding:7px;background-position:center;margin-right:10px;}
.facebook{background:url(../images/facebook.svg) no-repeat;}
.google{background:url(../images/google.svg) no-repeat;}
.menu-bar{background:white;border-top:1px solid #d0d0d0;}
.menu-bar nav{padding:0px;}
.menu-bar nav ul li.nav-item.active a.nav-link{border-bottom:2px solid #3d59d9;}
.menu-bar nav ul li.nav-item a.nav-link{padding:1rem 1rem;}
.btn-menu::after{display:none;}
.datadiv{padding-top:50px;}
.whitebox{padding:15px;border-radius:4px;background-color:#ffffff;margin-bottom:25px;width:100%}
.milestonebox{background:rgba(0,198,165,0.05);border-radius:4px;padding:15px;display:flex;align-items:center;margin-bottom:20px;}
.milestonebox img{margin-right:10px;}
.milestonebox .milestone_text h6{color:#00c6a5;font-family:'Lato';font-weight:900;font-size:18px;line-height:22px;}
.milestonebox .milestone_text p{margin-bottom:0px;}
.activities-history-list{position:relative;}
.activities-history-list:before{content:"";position:absolute;top:20px;width:20px;height:20px;border-radius:50%;background-color:#eaeff5;padding-top:1px;z-index:1}
.cmplt.activities-history-list::before{content:"\e92b";color:white;text-align:center;font-size:13px;font-family:feather !important;background:#3d59d9}
.activities-history-list .activities-history-item{border-radius:4px;padding:20px 15px;margin-left:40px;display:flex;justify-content:space-between;align-items:center;}
.cmplt .activities-history-item{background:rgba(61,89,217,0.05);color:#3d59d9;}
.activities-history-item h6 ,.activities-history-item p{font-size:16px;line-height:19px;margin-bottom:0px;color:#a1a1a1}
.cmplt .activities-history-item h6 ,.cmplt .activities-history-item p{color:#3d59d9;font-weight:800;}
.activities-history-list:after{content:"";position:absolute;height:100%;width:2px;top:30px;left:9px;background:rgba(129, 167, 205, 0.1);}
.activities-history-list:last-child:after{display:none;}
.whitebox-header span{color:#202020 }
.bdr-btm2{padding-bottom:20px;border-bottom:1px solid #d0d0d0;}
.smallbox p{font-size:18px;line-height:22px;font-family:'Lato';font-weight:500;}
.smallbox h4{font-size:36px;line-height:44px;font-family:'Lato';font-weight:900;color:#3d59d9}
.simple-row{padding:20px 0px;display:flex;justify-content:space-between;align-items:center;font-family:'Lato';border-bottom:1px solid #d0d0d0;}
.simple-row-text-blue{background:rgba(61,89,217,0.05);color:#3d59d9;}
.simple-row .value{color:#202020;font-weight:800;}
.nopad{padding:0px;}
.bdr-r-1{border-right:1px solid #d0d0d0;}
.pad30{padding:30px }
.subtitlebar.fullreport{display:flex;justify-content:space-between;margin-bottom:20px;}
.subtitlebar{display:flex;justify-content:space-between;margin-bottom:20px;}
.subtitlebar .dropdown-menu{left:auto !important;right:0px;}
.subtitlebar h4{color:#202020;font-weight:800;}
.subtitlebar #reportrange .fa-caret-down { margin-left: 4px;}
tr.fixedrow td{color:#3d59d9;}
tr.fixedrow{background:#eaeff5;}
.table-bordered tr td{border-bottom:0px;border-top:0px;}
.table-bordered tr td:first-child, .table-bordered tr th:first-child{border-left:0px;}
.table-bordered tr td:last-child, .table-bordered tr th:last-child{border-right:0px;}
.table-bordered tr.fixedrow td{border:1px solid #9badff }
.table-bordered tr a.toggler{color:#202020;font-weight:bold;}
.table-bordered tr th{border-top:0px;vertical-align:top;color:#a1a1a1;}
.table-responsive{border-top:0px;border-left:0px;border-right:0px;}
.fullreport{display:flex;justify-content:space-between;margin-bottom:20px;}
.btn-default{border:1px solid #d0d0d0;}
.btn-default:hover{background:#3d59d9;color:white }
.section-heading{font-weight:bold;color:#202020;}
footer{background:#dfe3e8;text-align:center;padding:10px 0;position:absolute;bottom:0;width:100%;height:40px;}
footer a{font-weight:bold;}
.custom-control-label:before{background-color:white;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{content:"\e92b";color:white;text-align:center;font-size:16px;font-family:feather !important;border-radius:4px; background: none}
/** focus shadow pinkish **/.custom-checkbox .custom-control-input:focus~.custom-control-label::before{box-shadow:none;}
.custom-control-label{padding-left:10px;line-height:25px;font-size:16px;color:#202020;}
.custom-control-label::before, .custom-control-label::after, .custom-control-input{width:26px;height:26px;outline:none;}
.custom-checkbox .custom-control-label::before, .custom-control-label::after{top:0px;}
.custom-checkbox.bgblue .custom-control-label::before{border-color:#00b2d6;}
.custom-checkbox.bgblue .custom-control-input:checked~.custom-control-label::after{background:#00b2d6;}
.custom-checkbox.bgsky .custom-control-label::before{border-color:#00c6a5;}
.custom-checkbox.bgsky .custom-control-input:checked~.custom-control-label::after{background:#00c6a5;}
.custom-checkbox.bgred .custom-control-label::before{border-color:#ff7356;}
.custom-checkbox.bgred .custom-control-input:checked~.custom-control-label::after{background:#ff7356;}
.custom-checkbox.bggreen .custom-control-label::before{border-color:#d7e23f;}
.custom-checkbox.bggreen .custom-control-input:checked~.custom-control-label::after{background:#d7e23f;}
.custom-checkbox.bgpink .custom-control-label::before{border-color:#fb71f6;}
.custom-checkbox.bgpink .custom-control-input:checked~.custom-control-label::after{background:#fb71f6;}
.custom-checkbox.bgbrown .custom-control-label::before{border-color:#bfa463;}
.custom-checkbox.bgbrown .custom-control-input:checked~.custom-control-label::after{background:#bfa463;}
.custom-checkbox.bgparrot .custom-control-label::before{border-color:#96bf48;}
.custom-checkbox.bgparrot .custom-control-input:checked~.custom-control-label::after{background:#96bf48;}
.custom-checkbox.bgdarkblue .custom-control-label::before{border-color:#3b5998;}
.custom-checkbox.bgdarkblue .custom-control-input:checked~.custom-control-label::after{background:#3b5998;}
.custom-checkbox.bgdarkred .custom-control-label::before{border-color:#dd4b39;}
.custom-checkbox.bgdarkred .custom-control-input:checked~.custom-control-label::after{background:#dd4b39;}
.date-year{margin-bottom:10px;display:block;}
canvas{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;}
table.table-bordered.dataTable th{font-size:13px;border-right:0px;}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{border-bottom:1px solid #d0d0d0;border-right:0px;padding:15px 12px;border-bottom-width:1px !important;}
.table-striped tbody tr:nth-of-type(odd){background-color:transparent;}
table.table-bordered.dataTable{border:0px!important;margin-bottom:0px !important;}
table.dataTable + .row{background:#eaeff5;padding:20px 0;}
.page-link,.page-item.disabled .page-link{background-color:transparent;border:1px solid #a1a1a1;font-size:16px;color:#202020;}
div.dataTables_wrapper div.dataTables_length select{background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;border:1px solid #a1a1a1;height:auto;font-size:16px;}
.page-item.active .page-link,.page-link:hover{z-index:3;color:#3d59d9;background-color:#d3d7ec;border-color:#3d59d9;}
.mobile-menu{display:none;justify-content:space-between;align-items:center}
.mobile-menu .dropdown{text-align:right;}
.mobile-menu .dropdown-menu.show{left:auto !important;right:1px;transform:unset !important;will-change:auto;top:37px !important;}
.btn-primary{color:#fff;background-color:#3d59d9;border-color:#3d59d9;}
.product-dtl{display:flex;align-items:center;justify-content:flex-start}
.product-dtl span{white-space:normal;min-width:auto;}
table.dataTable.fixedHeader-floating,table.dataTable.fixedHeader-locked{background-color:white;margin-top:0 !important;margin-bottom:0 !important}
table.dataTable.fixedHeader-floating{position:fixed !important}
table.dataTable.fixedHeader-locked{position:absolute !important}
	.prdct-dtl{ padding:21px 0; display:flex;}
#product_table_wrapper > .float-right, #variants_wrapper label{ width:400px;     height: 45px;
    margin-bottom: 0px;}
#variants_wrapper .float-left .table-heading{ padding:7px 0px;}
#variants_wrapper .float-right .dataTables_filter{ margin:0px 0 30px;}
#product_table_wrapper > .float-right label{ width:100%; height:45px;margin-bottom: 0px;}
div.dataTables_wrapper div.dataTables_filter{margin:30px;}
div.dataTables_wrapper div.dataTables_filter label{position:relative;color:white; width:100%}
div.dataTables_wrapper div.dataTables_filter label::after{content:"\f002";position:absolute;right:10px;z-index:1;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;top:17px;color:#a1a1a1;}
div.dataTables_wrapper div.dataTables_filter input{background:#eaeff5;position:absolute;right:0; width:100% !important; height:45px; font-size: 16px;}
.product-dtl img{width:49px;margin-right:15px;}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{vertical-align:middle;}
#product_table > .row{margin:0px;}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty{cursor:default !important}
table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before{display:none !important}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control{position:relative;padding-left:30px;cursor:pointer}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before{top:50%;left:5px;height:1em;width:1em;margin-top:-9px;display:block;position:absolute;color:white;border-radius:1em;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:'Courier New', Courier, monospace;line-height:1em;content:'+';background-color:#3d59d9}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before{content:'-';background-color:#d33333}
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control{padding-left:27px}
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control:before{left:4px;height:14px;width:14px;border-radius:14px;line-height:14px;text-indent:3px}
table.dataTable.dtr-column>tbody>tr>td.dtr-control,table.dataTable.dtr-column>tbody>tr>th.dtr-control,table.dataTable.dtr-column>tbody>tr>td.control,table.dataTable.dtr-column>tbody>tr>th.control{position:relative;cursor:pointer}
table.dataTable.dtr-column>tbody>tr>td.dtr-control:before,table.dataTable.dtr-column>tbody>tr>th.dtr-control:before,table.dataTable.dtr-column>tbody>tr>td.control:before,table.dataTable.dtr-column>tbody>tr>th.control:before{top:50%;left:50%;height:0.8em;width:0.8em;margin-top:-0.5em;margin-left:-0.5em;display:block;position:absolute;color:white;border:0.15em solid white;border-radius:1em;box-shadow:0 0 0.2em #444;box-sizing:content-box;text-align:center;text-indent:0 !important;font-family:'Courier New', Courier, monospace;line-height:1em;content:'+';background-color:#3d59d9}
table.dataTable.dtr-column>tbody>tr.parent td.dtr-control:before,table.dataTable.dtr-column>tbody>tr.parent th.dtr-control:before,table.dataTable.dtr-column>tbody>tr.parent td.control:before,table.dataTable.dtr-column>tbody>tr.parent th.control:before{content:'-';background-color:#d33333}
table.dataTable>tbody>tr.child{padding:0.5em 1em;background:#F0F0F0}
table.dataTable>tbody>tr.child:hover{background:transparent !important}
table.dataTable>tbody>tr.child ul.dtr-details{display:inline-block;list-style-type:none;margin:0;padding:0}
table.dataTable>tbody>tr.child ul.dtr-details>li{padding:0.5em 0}
table.dataTable>tbody>tr.child ul.dtr-details>li:first-child{padding-top:0}
table.dataTable>tbody>tr.child ul.dtr-details>li:last-child{border-bottom:none}
table.dataTable>tbody>tr.child span.dtr-title{display:inline-block;min-width:115px;font-weight:bold;font-size:13px;color:#a1a1a1;}
div.dtr-modal{position:fixed;box-sizing:border-box;top:0;left:0;height:100%;width:100%;z-index:100;padding:10em 1em}
div.dtr-modal div.dtr-modal-display{position:absolute;top:0;left:0;bottom:0;right:0;width:50%;height:50%;overflow:auto;margin:auto;z-index:102;background-color:#f5f5f7;border:1px solid black;border-radius:0.5em;box-shadow:0 12px 30px rgba(0, 0, 0, 0.6)}
div.dtr-modal div.dtr-modal-content{position:relative;padding:1em}
div.dtr-modal div.dtr-modal-close{position:absolute;top:6px;right:6px;width:22px;height:22px;border:1px solid #eaeaea;background-color:#f9f9f9;text-align:center;border-radius:3px;cursor:pointer;z-index:12}
div.dtr-modal div.dtr-modal-close:hover{background-color:#eaeaea}
div.dtr-modal div.dtr-modal-background{position:fixed;top:0;left:0;right:0;bottom:0;z-index:101;background:rgba(0, 0, 0, 0.6)}
table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after{display:none !important;}
table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting:before{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;right:1em;}
table.dataTable>thead .sorting:before{content:url("../images/sort.svg") !important;opacity:1}
table.dataTable>thead .sorting_desc:after{right:1em;content:url("../images/sort_des.svg") !important;width:12px;height:12px;top:17px !important;}
table.dataTable>thead .sorting_asc:before{content:url("../images/sort_asc.svg") !important;opacity:1}
table.dataTable>thead .sorting_desc:before{content:url("../images/sort_des.svg") !important;    width: 12px; opacity: 1 !important; top: 15px;}
.table-heading{color:#202020;padding:30px;font-weight:bold;}
.profilepage .profileheading{color: #333333; font-weight: bold;text-align: center;width: 100%; }
.profilepage .profilebox{ max-width: 440px; padding: 25px;margin: 0 auto}
.profilepage .profilebox .form-group label {color: #202020;font-size: 14px;line-height: 17px;}
.profilepage .profilebox .btn-primary:disabled{background: #d0d0d0;border-color: #d0d0d0;width: 100%; text-transform: uppercase;color: #202020;opacity: 1;font-weight: 700;font-size: 16px;}
.profilepage .profilebox .btn-primary{background: #3d59d9;border-color: #3d59d9;width: 100%;color: #ffffff; text-transform: uppercase;opacity: 1;font-weight: 700;font-size: 16px;}
.info-bar > .container > .float-left, .info-bar > .container > .float-left .product-info{ display:flex; align-items: center}
.info-bar > .container > .float-left > a{ margin-right:15px; color: #202020	}
.img-thumb {width: 73px; height: 73px;margin-right:15px;   background: #eaeff5;     display: flex;
    align-items: center;
    justify-content: center;}
.img-thumb img { width:73px}
.info-bar > .container > .float-left .product-info h5{color: #202020; font-size: 16px; font-weight: bold; line-height: 19px;}
.info-bar > .container > .float-left .product-info span{color:#a1a1a1; font-size:16px; margin-right:10px;}
.info-bar > .container > .float-right .date, .info-bar > .container > .float-right .footnote{ text-align: right; float:right; width:100% }
.info-bar > .container > .float-right .date{color: #202020}
.info-bar > .container > .float-right .footnote{ color:#a1a1a1;}

.formbox{
	    display: flex;
    align-items: top;
    justify-content:start;
    flex-direction: row; border-bottom: 1px solid #d0d0d0;}
.leftbox{ margin-right:30px;}
.rightbox{ width:100%; max-width:850px;}
.icondiv{
	width: 60px;
    height: 60px;
    background: #eaeff5;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icondiv i{    font-size: 30px;
    color: #a9bfd9;}
.headingdiv{ margin-bottom: 32px;}
.headingdiv h4{ color:#202020; font-weight: 900;}
.radiobuttongroup .custom-control-label::before, .radiobuttongroup .custom-control-label::after{ width:20px; height:20px; }
.radiobuttongroup .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #3d59d9;
    background-color: #3d59d9;
}
.radiobuttongroup .custom-control-label::after{ top:4px;}
.checkboxgroup.row {margin: 0px;}
.checkboxgroup .form-check{margin-bottom: 15px;}
.checkboxgroup .form-check .form-label{margin-bottom: 15px;}

.checkboxgroup .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #3d59d9;
    background-color: #3d59d9;
    border-radius: 0px;
}
.checkboxgroup .custom-checkbox{ margin-bottom:24px;}
.checkboxgroup .custom-checkbox .custom-control-label{ line-height:normal;}

.checkboxgroup .custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #a1a1a1;
	width:20px;
	height:20px;
	
}
.checkboxgroup .custom-checkbox .custom-control-label::after{
	width:20px; height:20px;
}
.questiondiv {
 display: block;
	margin-bottom: 30px;
}
.questiondiv p {
    color: #202020;
    font-size: 1;
}
.textboxdiv {
    max-width: 288px;
    margin-right: 20px;
}

.analyticsrow{padding:30px 50px;border-bottom:1px solid;display:flex;align-items:top;}
.analyticsrow:nth-child(2){border-bottom:0px;}
.analyticsrow h2{font-size:24px;font-weight:bold;color:#202020;}
.analyticsrow img{margin-right:25px;width:60px;}
.analyticsrow > div{text-align:left;display:flex;flex-direction:column;}
.analyticsrow p{text-align:left;padding-left:0px;}
.analyticsrow .custom-selectbox{width:auto;}
.analyticsrow .custom-selectbox button{ 
    min-width: 300px;
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    color: #202020 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d0d0d0;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.accordion>.card{border:0px}
.accordion .card-body {
    padding: 1rem 0 0;
}
.card-header{padding:0;background:transparent;border-bottom:0px;border-top:0}
.accordion h2 button.btn.btn-link {
    width: 100%;
    text-align: left;
    color: #202020;
    position: relative;
    font-weight: bold;
}
.accordion h2 button.btn.btn-link::after {
    content: "\f077";
    right: 35px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}
.accordion h2 button.btn.btn-link.collapsed::after {
    content: "\f078";
}
.accordion .card-body label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.accountbtn {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    min-width: 287px;
    align-items: center; padding-left:15px;
}
.accountbtn p {
    margin-bottom: 0px;
}
.toggle-container{display:inline-block;width:50px;height:24px;position:relative;cursor:pointer;background-color:#d7e0ec;transition:border-color 300ms;}
.togglerow.activerow label{color:#202020;}
.togglebutton{display:flex;align-items:center}
.togglerow{border-bottom:1px solid #d0d0d0;display:flex;justify-content:space-between;align-items:center;padding:15px 30px}
.togglerow img{width:25px;margin-right:15px;}
.real-checkbox{position:absolute;clip:rect(0,0,0,0);}
.real-checkbox + .toggle-button{position:absolute;top:0;left:0;right:0;bottom:0;border-radius:30px;transition:all 300ms;}
.real-checkbox + .toggle-button::before{content:'';cursor:pointer;display:inline-block;width:18px;height:18px;background-color:#b5c7de;border-radius:0;box-shadow:1px 1px 3px rgba(0,0,0,0.5);transition:all 300ms ease-in-out;margin-top:2px;}
.real-checkbox:checked + .toggle-button::before{background-color:#3d59d9;}
.real-checkbox:checked + .toggle-button::before{margin-left:28px;}
.datasection {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 32px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
    background: white;
    margin: 35px auto;
}
.submit-btn{background: #3d59d9;
    color: #fff;
    display: inline;
	    float: right;
    padding: 10px 1em;
    text-decoration: none;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 154px;
    text-align: center;
	border:0px !important;
}
.submit-btn:hover{ color:#ffffff; text-decoration: none;}
.datadiv.container > .card {
    padding: 0px;
}
.datadiv.container > .card .card-body {
    padding: 30px;
}
.porductdtldiv > h4 {    color: #202020;
    font-weight: bold;
    font-size: 2rem;}
div#productdtl .form-group.row {
    margin-bottom: 0px;
}
.datadiv .table-bordered tr th {
    border-top: 0px;
    vertical-align: top;
    color: #a1a1a1;
    font-size: 13px;
    border-right: 0px;
    border-left: 0px !important;
	white-space: nowrap;
}
.datadiv .table-bordered tr td {
    border-bottom: 0px;
    border-top: 0px;
    border-bottom: 1px solid #d0d0d0;
    border-right: 0px;
    padding: 25px 12px;
    border-bottom-width: 1px !important;
    vertical-align: middle; border-left:0px;
}
.datadiv >h5{     color: #202020;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;}
#variants_wrapper .row{ background:white}
.tabledit-edit-button, .tabledit-edit-button:hover {
        outline: none;
    border: 0px;
    background: none;
    box-shadow: none;	
}
.tabledit-edit-button:focus{outline:none;}
a.link-btn {
    margin: 0 15px 20px 10px;
    background: none;
    border: 0px;
    color: #ff0000;
	font-weight: bold
}
a.link-btn:hover{ text-decoration:underline;	}
a.link-btn i {
    font-size: 18px;
    margin-right: 5px;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.btn-toolbar .btn-info, .btn-toolbar .btn-info:hover, .btn-toolbar .btn-info:focus{background-size: 100% 100%; background: url("../images/edit_icn.svg") no-repeat; width:30px; height:30px; background-color: transparent !important}
.btn-toolbar .btn-success, .btn-toolbar .btn-success:hover, .btn-toolbar .btn-success:focus{background-size: 100% 100%; background: url("../images/save_icn.svg") no-repeat; width:34px; height:34px; background-color: transparent !important;border: 0;}
.bg-white{background: white}
.matrix_listing{ padding: 0 12px !important;}
.matrix_listing .card {padding: 15px 15px 0 0;    min-height: 225px;
    margin-bottom: 24px;
    border: 0px;}
.matrix_listing .card-body{ padding: 0px;}
.matrix_listing .card-header .card-title {
    margin-bottom: 6px;
    font-size: 15px;
    color: #666666;
}
.matrix_listing .card-header {
    padding: 0 0 0 15px;
}
.matrix_listing .card-header h4 {
    font-size: 18px;
    font-weight: 900;
    color: #202020;
    line-height: 22px;
}
[class^="feather-"], [class*=" feather-"] {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.feather-trending-up:before {
    content: "\e9e6";
}
.feather-trending-down:before {
    content: "\e9e5";
}

.badge{
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    line-height: 15px;
}
.badge i{ margin-right:5px;}
.badge-warning{
    color:#ff3d3d;

}
.badge-success{
    color:#089a49
}
@media print{
	table.fixedHeader-floating{display:none}
}
div.dtr-bs-modal table.table tr:first-child td{border-top:none}
.allowblock {
    /* background: rgba(255, 61, 61, 0.01); */
    background-color: #fffcfc;
    padding: 15px;
    color: black;
    box-shadow: 0 1px 3px 0 rgba(32, 32, 32, 0.08);
    border: 1px solid #ff3d3d;
    border-radius: 4px;
    margin-bottom: 24px;
    margin-right: 12px;
    margin-right: 12px;

}
.allowblock h2{ font-size:24px; font-weight: bold; line-height: 29px;}
.allowblock p{ line-height: 22px; font-size: 15px;}
.allowblock .access-dtl{ justify-content: start; display: flex;}
.apexcharts-tooltip > br{ display: none;}
.apexcharts-xaxistooltip  { display: none;}
.apexcharts-canvas{ height:100% !important}
.apexcharts-tooltip th{color: #202020; font-weight: bold;}
.apexcharts-tooltip.light{ width:150px;}
.apexcharts-tooltip.light table{ width:100%;}
.currentdate, .pastdate {
    display: flex;
    justify-content: space-between;
    font-size: 12px; align-items: center;
}
.currentdate > span:first-child, .pastdate > span:first-child{ margin-left:5px;}
.currentdate > span:last-child, .pastdate > span:last-child{ color:#202020;width:52px; text-align: right;}
.currentdate:before {
    content: "";
    background: #3d59d9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 0;
}
.pastdate:before {
    content: "";
    background: #c4c4c4;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 0;
}
@media (max-width:992px){
	header{padding:15px 0 }
	desktop-menu{display:none;}
	.mobile-menu{display:block;display:flex}
	.container{max-width:100%;}
	.menu-bar{padding:10px 0;}
	.navbar-nav{margin-top:15px;}
	.menu-bar nav ul li.nav-item.active a.nav-link{border-bottom:0px;background:#3d59d9;color:#ffffff;font-weight:bold;}
	.datadiv{padding-top:15px;}
}
@media (max-width:768px){
	div.dtr-modal div.dtr-modal-display{width:95%}
	.whitebox .custom-control-label::before, .custom-control-label::after, .whitebox .custom-control-input{width:20px;height:20px;}
	.whitebox .custom-control-label{line-height:20px;font-size:14px;padding-left:5px;}
	.custom-control.form-control-lg.custom-checkbox{float:left;line-height:0px;min-height:unset;height:auto;}
	.bdr-r-1{border-right:0px;}
	.access-dtl{display:block;}
	.btn.btn-access{margin-bottom:10px;width:100%;}
	.info-bar{padding:15px 0 0 0;}
	.prdct-dtl{padding:15px 0;}
	.table-heading{font-size:24px;}
	.profilepage .info-bar{ padding: 30px 0;}
	.profilepage .info-bar h3{ font-size:20px;}
	#product_table_wrapper > .float-right, #variants_wrapper > .float-right {width: 250px;}
	.checkboxgroup .custom-checkbox {
    margin-bottom: 20px;}
	.prdct-dtl > .container{ display:block;}
	.prdct-dtl > .container > .float-right{ float:left !important; margin:10px 0 0 117px; text-align: left;}
	.info-bar > .container > .float-right .date, .info-bar > .container > .float-right .footnote{ margin-bottom:5px; text-align: left; float:left;}
	#product_table_wrapper > .float-right, #variants_wrapper label{ width:100%;}
	#product_table_wrapper .table-heading{ padding:15px;}
	div.dataTables_wrapper div.dataTables_filter{ margin:0;}
    #product_table_wrapper > .float-right{ padding: 0 15px; margin-bottom: 30px;}
    .allowblock .access-dtl .btn{ width:auto}
}
@media (max-width:650px){
.accordion > .body label {font-size: 14px; padding-right: 10px;}
	.togglerow { padding: 15px;}
	.analyticsrow .custom-selectbox button {  width: 100%; min-width: unset;}
	.analyticsrow .custom-selectbox .bootstrap-select .dropdown-menu{ width:100%;}
	.analyticsrow {padding: 30px 15px;}
	.accountbtn { min-width:200px;} label{ text-align:center;}
	
}
@media (max-width:576px){
	.icondiv{ width:50px; height:50px;}
	.icondiv i {font-size: 20px; color: #a9bfd9;}
	.leftbox {margin-right: 15px;}
	.pad30 { padding: 30px 15px;}
	#product_table_wrapper > .float-right, #variants_wrapper > .float-right{width:100%;}
    #variants_length label{ text-align:center;}
    .allowblock .access-dtl{ justify-content: start; display: block;}
}
@media (max-width:500px){
	.info-bar > .container .shop-dtl{justify-content:flex-start;}
	.info-bar > .container{display:block;}
	.access-dtl{display:flex;justify-content:space-between}
	.btn.btn-access{width:auto;margin-top:15px;}
	.logo img{height:25px;margin-top:5px;}
	div.dataTables_wrapper div.dataTables_filter label{width:300px;}
	div.dataTables_wrapper div.dataTables_filter input{width:100%;}
	#product_table_wrapper >.float-left, #product_table_wrapper >.float-right{width:100%;text-align:center;}
	#product_table_wrapper >.float-left .table-heading{padding:25px 15px 0;}
	div.dataTables_wrapper div.dataTables_filter{margin:15px;}
	#product_table_wrapper > .float-right {width: 100%;}
	.togglerow {padding: 15px; justify-content: start; flex-direction: column;}
	.togglerow > label { width: 100%; justify-content: start !important;}
	.accountbtn {min-width: 200px; width: 100%; padding-left: 40px;}
}
@media (min-width:768px){
	.container{max-width:100%;}
}
@media (min-width:992px){
	.container{max-width:100%;}
}
@media (min-width:1200px){
	.container{max-width:1140px;}
}
