.padright0 {
    padding-right: 0px;
}

.padleft0 {
    padding-left: 0px;
}

.padright15 {
    padding-right: 15px;
}

.card .bdrleft {
    border-left: 2px solid;
    border-top-left-radius: 0px;
    border-bottom: 0px;
}

.bdrclrblu {
    border-color: #3d59d9 !important;
}

.bdrclrorng {
    border-color: #ffa705 !important;
}

.bdrclrgrn {
    border-color: #00ae79 !important;
}

.duedate {
    font-size: 14px;
    color: #b2b7d1
}

.duedate span {
    color: #303030;
    padding-left: 7px;
}

.lnhght-20 {
    line-height: 20px;
}

span.badge-id {
    padding-left: 5px;
    color: #3d59d9;
}

.badge {
    font-size: 12px;
    line-height: 15px;
}

.badge-low-inverse {
    background: rgba(255, 167, 5, 0.2);
    color: #ffa705;
}

.badge-high-inverse {
    background: rgba(255, 55, 41, 0.2);
    color: #ff3729;
}

.badge-completed-inverse {
    background: rgba(0, 174, 121, 0.2);
    color: #00ae79;
}

.badge-inresolved-inverse {
    background: rgba(0, 174, 121, 0.2);
    color: #00ae79;
    text-transform: unset;
}

.badge-inpending-inverse {
    background: rgba(255, 167, 5, 0.2);
    color: #ffa705;
    text-transform: unset;
}

.badge-inprogress-inverse {
    background: rgba(61, 89, 217, 0.2);
    color: #3d59d9;
    text-transform: unset;
}

.card-header.todo {
    padding: 20px 20px;
    border-left: 3px solid #3d59d9;
    border-radius: 0px;
}

.card-header.doing {
    padding: 20px 20px;
    border-left: 3px solid #ffa705;
    border-radius: 0px;
}

.card-header.done {
    padding: 20px 20px;
    border-left: 3px solid #00ae79;
    border-radius: 0px;
}

.card-body a.commentcount {
    color: #b2b7d1
}

.nocardimg {
    float: left;
    padding: 25px 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.nocardimg img {
    width: 100%;
    max-width: 265px;
}

.nocardimg span {
    color: #b2b7d1;
    font-weight: 900;
    font-size: 20px;
    clear: both;
    float: left;
    width: 100%;
    padding: 20px 0;
}

.btn-secondary-rgba {
    color: #f2f5fa;
}

.btn-primary-rgba {
    color: #3d59d9;
}

#infobar-search-sidebar {}

.infobar-settings-sidebar-head {}

.infobar-settings-sidebar-head .input-group {
    background: rgba(61, 89, 217, 0.1);
    border-radius: 4px;
}

.infobar-settings-sidebar-head .input-group input {
    background: transparent;
    height: 40px;
    border: 0px;
    font-size: 14px;
}

ul.searchlist {
    padding: 0 10px;
    list-style: none;
}

ul.searchlist li {
    margin-bottom: 30px;
}

ul.searchlist li h4 {
    color: #3d59d9;
    margin-bottom: 5px;
    font-family: 'lato';
    font-weight: bold;
}

ul.searchlist li a span.from {
    color: #303030;
    font-size: 14px;
    font-weight: normal;
}

ul.searchlist li span.from b {
    padding-left: 10px;
}

ul.searchlist li.frmmdl {
    border-top: 1px solid #e0e3f6;
    padding-top: 30px;
    font-family: 'lato';
    font-weight: bold;
}

ul.searchlist li.frmmdl h4 {
    color: #b2b7d1;
    font-size: 14px;
    margin-bottom: 20px;
}

ul.searchlist li.frmmdl p {
    border: 1px solid #e0e3f6;
    border-radius: 4px;
    padding: 20px;
    color: #303030;
    font-size: 14px;
}

table.table-bordered.dataTable tbody td a {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

table.table-bordered.dataTable tbody td p {
    max-width: 70%;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table.table-bordered.dataTable tbody td.iconrow {
    display: flex;
    align-items: center;
}

table.table-bordered.dataTable tbody td.iconrow p {
    margin-bottom: 0px;
}

table.table-bordered.dataTable tbody td.iconrow a {
    background: rgba(178, 183, 209, 0.2);
    border-radius: 4px;
    margin-left: 15px;
    padding: 5px;
    min-width: 35px;
}

table.table-bordered.dataTable tbody td.iconrow a:hover {
    background: #3d59d9;
}

table.table-bordered.dataTable tbody td.iconrow a:hover img {
    filter: invert(0) sepia(1) saturate(0) hue-rotate(195deg)
}

span.srchtext {
    background: #e0e3f6;
}

table.table-bordered.dataTable tbody td a {
    color: #303030;
    white-space: nowrap;
}

table.table-bordered.dataTable tbody td a:hover {
    text-decoration: underline;
}

.table-accordian {
    background: white;
}

.table-accordian a.toggler {
    color: #333333;
    font-weight: 900;
}

.table-accordian th,
.table-accordian td {
    white-space: nowrap;
    padding: 15px 10px;
    line-height: 25px;
    min-width: 110px;
}

.table-accordian td b {
    font-weight: 900;
}

.table-accordian tr.subrow td:first-child {
    padding-left: 31px;
}

.table-accordian tr.fixedrow {
    background: #3d59d9;
    color: white;
}

.table-accordian tr.fixedrow td {
    color: white;
    border-bottom: 2px solid #ffffff;
}

.table-accordian tr.oddrow {
    background: #f6f6f6
}

.table-accordian tr td {
    border-bottom: 2px solid transparent;
}

.subtitledropdown .btn-primary {
    color: black;
    background-color: #ffffff;
    text-align: left;
    min-width: 145px;
    border-color: #cccde3;
    box-shadow: none;
}

.subtitledropdown .dropdown-toggle::after {
    content: "";
    float: right;
    margin-top: 0;
    font-family: "feather" !important;
    border: 0px;
}

.simple-row {
    background: rgba(48, 48, 48, 0.05);
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 15px;
    display: table;
    width: 100%;
    font-family: 'Lato';
    font-weight: 700;
}

.simple-row-text-blue {
    background: rgba(61, 89, 217, 0.05);
    color: #3d59d9;
}

.simple-row-text-green {
    background: rgba(59, 103, 16, 0.1);
    color: #3b6710;
}

.simple-row-text-dark-green {
    background: rgba(0, 174, 121, 0.1);
    color: #00ae79;
}

.smallbox {
    padding: 15px 0 0;
}

.smallbox p {
    font-size: 18px;
    line-height: 22px;
}

.smallbox p {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Lato';
    font-weight: 500;
}

.smallbox h4 {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    font-family: 'Lato';
    font-weight: 900;
}

.smallbox span.text-green {
    font-size: 16px;
    color: #00ae79;
    font-weight: 500;
    line-height: 19px;
}

.bdr-btm2 {
    padding-bottom: 25px;
    border-bottom: 1px solid #b2b7d1
}

.activities-history-list .activities-history-item {
    background: rgba(48, 48, 48, 0.05);
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.activities-history-item h6 {
    width: 50%;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 17px;
}

.activities-history-list .activities-history-item p {
    font-size: 12px;
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 17px;
}

.activities-history-list:before {
    top: 5px;
}

.activities-history-list:last-child:after {
    display: none;
}

.cmplt .activities-history-item {
    background: rgba(0, 174, 121, 0.1);
    color: #00ae79;
}

.cmplt .activities-history-item h6 {
    color: #00ae79;
}

.cmplt.activities-history-list:before {
    background: #00ae79;
    content: "";
    color: white;
    text-align: center;
    padding-top: 4px;
    font-family: "feather" !important;
    font-size: 18px;
}

.milestonebox {
    background: rgba(61, 89, 217, 0.1);
    border-radius: 4px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.milestonebox img {
    margin-right: 10px;
}

.milestonebox .milestone_text h6 {
    color: #3d59d9;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

.milestonebox .milestone_text p {
    margin-bottom: 0px;
}

.selectall {
    color: #8A98AC;
}

.selectall .custom-control-label::before {
    top: 2px;
    border: 2px solid #8A98AC;
    width: 1rem;
    height: 1rem;
}

.selectall .custom-control-label::after {
    top: 2px;
    width: 1rem;
    height: 1rem;
}

.icn-box a {
    padding-left: 10px;
}

.access_box a.btn-primary {
    color: #ffffff;
}

.email-rightbar ul li {
    padding: 0 0 0 0.6rem;
    float: left;
    margin-right: 0px !important;
    text-align: left;
}

.matric-datepicker {
    width: 150px;
    float: right;
    margin-left: 15px;
    height: 47px;
}

.btngrant {
    font-size: 18px;
    line-height: 24px;
}

.shopifyfield {
    width: 75%;
    margin: 0 auto 15px;
    text-align: center;
}

.edit-mode input {
    border: 0px;
    border-bottom: 1px solid #cccde3;
    background: none;
    border-radius: 0px;
}

.matrix_listing .card .card-header .card-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Lato';
    font-weight: normal;
    color: #666;
}

.product-table button.tabledit-edit-button {
    width: 50px;
}

.matrix_listing .card-body {
    padding: 0;
}

.matrix_listing .card-header {
    padding-bottom: 0;
}

.matrix_listing .card .card-header .card-title .badge {
    padding: 4px;
    margin-left: 4px;
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
}

div#reportrange {
    float: right;
    width: 325px !important;
    margin-left: 15px;
    height: 45px;
    padding: 13px 10px !important;
    text-align: left;
}

div#reportrange .fa-caret-down {
    float: right;
}

@media (max-width: 480px) {
    .topbar .infobar>ul>li:last-child {
        width: 100%;
    }
    .topbar .searchbar {
        width: 100%;
    }
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 1em;
    content: "\f0dd";
    font: normal normal normal 17px/1 FontAwesome;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\f0de";
    font: normal normal normal 17px/1 FontAwesome;
}

.subtitlebar {
    padding: 24px 24px 0;
    display: flex;
    align-items: center;
}

.subtitlebar.fullreport {
    padding: 30px 0;
}

.subtitlebar h3 {
    float: left;
    margin-bottom: 0px;
    padding-left: 0px;
    font-family: 'Lato';
    font-weight: 900;
}

.btn-theme-blue:hover {
    background: #ffcd05;
    color: white;
}

.btn-theme-blue {
    background: #3d59d9;
    color: white;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato';
    min-width: 125px;
}

.modal-body label,
.modal-body input,
.modal-body textarea {
    font-size: 16px;
    line-height: 30px;
}

.modal-body textarea {
    resize: none;
}

.create-ticket .modal-body textarea {
    height: 200px;
}

.modal-lg,
.modal-xl {
    margin: .5rem;
}

.access_ac {
    padding: 50px 0px;
}

.access_ac>h1 {
    text-align: center;
    font-weight: 900;
    margin: 0 15px 15px;
}

.access_ac>h1 span {
    color: #3d59d9;
}

.access_ac>p {
    text-align: center;
    margin: 0 15px 0px;
}

.access_box_outer {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    padding: 0 20px;
}

.access_item {
    display: flex;
    width: 100%;
}

.access_box img {
    height: 30px;
    display: block;
    margin-bottom: 10px;
}

.access_box span {
    display: block;
}

.access_box a {
    color: #3d59d9;
    font-weight: bold;
    display: block;
    margin: 0px 10px 10px 0;
    float: left;
}

.access_box a i {
    font-size: 16px;
    font-weight: bold;
    color: #303030;
}

.access_box button {
    display: block;
    clear: both;
    font-weight: bold;
}

.access_box button i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.access_box button.btn-primary-progress {
    color: #303030;
    background: rgba(48, 48, 48, 0.1)
}

.access_box button.btn-primary-progress img {
    height: 15px;
    float: right;
    margin: 5px 0 0 5px;
}

.access_box button.btn-primary-progress:hover {
    background-color: #ffcd05;
    border-color: #ffcd05;
}

.light-blue-color {
    color: #b2b7d1;
    margin-bottom: 5px;
}

.access_box {
    border-left: 2px solid #e0e3f6;
    padding: 0 15px;
    width: 100%;
}

.access_box_outer .col-xs-6:first-child .access_box {
    border-left: 0px;
}

.sub_heading .smalltext {
    float: left;
    margin-right: 10px;
}

.ticket_hdr .sub_heading h4 {
    font-size: 14px;
    line-height: 17px;
}

.tasklistbox .card-body:hover {
    background: rgba(61, 89, 217, 0.1);
    cursor: pointer;
}

.task-detail .ticket_description {
    padding: 0 0 25px;
}

.task-detail .ticket_cmnt {
    padding: 25px 0;
}

.task-detail .newcomment {
    padding: 1.25rem 0;
}

.task-detail .ticket_hdr {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.task-detail .sub_heading {
    display: flex;
}

.task-detail .ticket_status {
    margin: 0px;
}

.tasklistbox .card-hover {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(61, 89, 217, 0.8);
    bottom: 0px;
    padding: 10px;
    z-index: 1;
    display: none;
    align-items: top;
    justify-content: left;
}

.tasklistbox .card-body:hover .card-hover {
    display: flex;
}

.tasklistbox .card-body:hover .card-hover .btn-primary {}

.tasklistbox .card-body:hover .card-hover:hover .btn-primary {}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        margin: 3rem auto;
    }
}

.previousicn {
    font-size: 35px;
    margin-right: 10px;
    color: #303030;
}

.ticket_dtl {
    padding: 0 0 20px 0;
}

.ticket_hdr {
    display: flex;
    padding: 20px 5px;
    border-bottom: 2px solid #f2f5fa;
    align-items: center;
    margin: 0 0 30px 0;
}

.ticket_hdr h4 {
    line-height: 28px;
    font-family: 'Lato';
    font-weight: bold;
}

.ticket_hdr .assignto {
    float: right;
    margin-right: 20px;
    font-family: 'Lato';
    font-weight: bold;
}

span.smalltext {
    color: #b2b7d1;
    line-height: 17px;
    display: block;
    margin-bottom: 5px;
    font-family: 'Lato';
    font-weight: 500;
}

.ticket_hdr .badge {
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 20px;
    float: right;
    font-family: 'Lato';
    font-weight: bold;
}

.ticket_bdy p {
    float: left;
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
}

.ticket_cmnt {
    float: left;
    width: 100%;
    padding: 25px 20px;
    border-top: 2px solid #f2f5fa;
}

.ticket_description {
    padding: 0 1.25rem 25px;
}

ul.attachedlist {
    margin: 10px 0;
    display: inline-block;
    padding: 0px;
    list-style-type: none;
}

ul.attachedlist li {
    margin-bottom: 5px;
}

.attachedfile {
    border: 1px solid #666666;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 4px;
    min-width: 175px;
    color: #666666;
}

.attachedfile .pull-left {
    padding-right: 10px;
}

.addlink {
    color: #b2b7d1;
    text-decoration: underline;
}

.ticket_cmnt span {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    display: flex;
    align-items: center;
    float: left;
    margin-bottom: 5px;
}

.ticket_cmnt span img {
    margin-right: 5px;
    width: 25px;
}

.ticket_cmnt span.updatedtime {
    color: #b2b7d1;
    font-size: 12px;
    font-weight: normal;
    float: right;
}

.newcomment {
    padding: 1.25rem;
    border-top: 2px solid #f2f5fa;
    display: inline-block;
    width: 100%;
}

.newcomment label {
    font-size: 16px;
}

.newcomment textarea {
    font-size: 16px;
    height: 75px;
    resize: none;
}

.ticket_status {
    float: right;
    margin-left: 20px;
}

.infobar-settings-sidebar .infobar-settings-sidebar-head .icon-search {
    font-size: 25px;
}

.logobar .menu-hamburger {
    display: none;
}

.fixheight {
    min-height: 250px;
}

.fixheight .card-header:first-child {
    display: flex;
    justify-content: space-between;
}

.fixheight .card-header:first-child a {
    font-size: 16px;
}

.fixheight .card-header .card-header-right {
    display: flex;
    align-items: center;
}

.fixheight .card-header .card-header-right a {
    margin-right: 5px;
}

.fixheight .card-header .card-header-right .form-check label {
    color: #8A98AC
}

.fixheight .card-body p {
    height: 80px;
}

.fixheight.completedtask {
    background: rgba(0, 174, 121, 0.2);
    color: #00ae79;
    min-height: 215px;
}

.fixheight.completedtask h5 {
    color: #00ae79;
}

.padbtm30 {
    padding: 0 0 30px 0
}

.ticket_hdr_left {}

.missing_access {
    margin: 24px;
    padding: 15px 10px;
    background: #fefefe;
    border-radius: 4px;
    position: relative;
    padding-right: 120px;
}

.missing_access h6 {
    display: inline-block;
    font-weight: normal;
    color: #666;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0;
}

.missing_access a.btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
}

@media (max-width: 1450px) {
    .access_box_outer {
        display: block;
    }
    .access_item {
        display: block;
        width: 33.33%;
        float: left;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .ticket_hdr {
        display: block;
        float: left;
        width: 100%;
    }
    .ticket_hdr .assignto {
        float: left;
        margin-top: 10px
    }
    .ticket_status {
        margin-top: 15px;
    }
}

@media (max-width: 992px) {
    .topbar .searchbar {
        width: 200px;
    }
    .subtitledropdown .btn-primary {
        min-width: unset;
        margin-bottom: 10px;
    }
    .subtitledropdown.padright15 {
        padding-right: 0px;
    }
    .fixheight .card-body p {
        height: 110px;
    }
    .access_item {
        min-height: 175px;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .fixheight .card-body p {
        height: auto;
    }
    .fixheight {
        min-height: unset;
    }
    .ticket_hdr {
        display: block;
        float: left;
        width: 100%;
    }
    .ticket_hdr .col-lg-12 {
        float: left;
        width: 100%;
        display: block;
    }
    .ticket_hdr .assignto {
        float: left;
        margin-right: 20px;
    }
    .toggle-menu .leftbar {
        width: 100%
    }
    .logobar .menu-hamburger {
        position: absolute;
        right: 0px;
        top: 10px;
        color: #3d59d9;
        border-radius: 3px;
        display: flex;
        line-height: 40px;
        width: 50px;
        height: 40px;
        padding: 10px 15px;
    }
    .logobar .menu-hamburger i {
        color: white;
        font-size: 24px;
        color: white;
        line-height: 20px;
        display: block !important;
    }
    .infobar-settings-sidebar.sidebarshow {
        width: 100%;
    }
    #infobar-search-sidebar {
        padding-top: 10px;
    }
    .task-detail .ticket_status {
        float: left;
        margin: 10px 0
    }
    .subtitlebar {
        padding: 24px 24px 0;
        display: block;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .subtitlebar h3 {
        float: left;
        margin-bottom: 0px;
        padding-left: 0px;
        font-family: 'Lato';
        font-weight: 900;
        width: 100%;
        text-align: left;
        max-width: 100%;
    }
    .subtitlebar .padright0 {
        width: 100%;
        max-width: 100%;
        float: left;
        margin: 20px 0;
        padding-left: 0px;
    }
    .productbtn {
        float: left;
    }
    .missing_access {
        padding-right: 15px;
        text-align: center;
    }
    .missing_access a.btn {
        margin-top: 8px;
        position: static;
    }
}

@media (max-width: 576px) {
    .access_item {
        width: 100%;
        min-height: auto;
        margin-bottom: 30px;
    }
    .access_box {
        border-left: 0px;
        padding: 0 0px 15px;
        width: 100%;
        border-bottom: 2px solid #e0e3f6;
    }
    .light-blue-color {
        color: #b2b7d1;
        margin-bottom: 5px;
        float: left;
        margin-right: 5px;
    }
}

@media (max-width: 500px) {
    div#reportrange {
        text-align: center;
        margin-bottom: 15px;
        margin-left: 0px;
        width: 100% !important;
        height: auto;
        padding: 5px 5px !important;
        font-size: 12px;
    }
    .productbtn {
        float: left;
        width: 100%;
    }
    .productbtn a {
        width: 100%;
    }
}