/* Comman css  */
body {font-family: 'Noto Sans', sans-serif; font-weight: 400;}
h1 {font-weight: 900; color: #000; font-size: 65px; line-height: 1.2; font-family: 'Lato', sans-serif;}
h2 {font-weight: 900; color: #000; font-size: 50px; line-height: 1.2; font-family: 'Lato', sans-serif;}
h5 {font-weight: 700; color: #000; font-size: 20px; line-height: 1.2;}
h6{    color: #3d59d9;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.8px;}
p {font-weight: 400; color: #000; font-size: 16px; line-height: 1.4;}
label {font-weight: 400;}

.btn-primary {padding: 25px; color: #fff; text-transform: uppercase; background-color: #FFCD05; border-radius: 4px; border-color: #FFCD05; font-size: 18px; transition: 0.4s; box-shadow: none !important; outline: 0 !important;}
.btn-primary:hover , .btn-primary:focus, .btn-primary:active:hover , .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary , .btn-primary:active:focus , .btn-primary:active:focus, .btn-primary:active:hover
 {background-color: #F5C609; border-color: #F5C609;}
 .btn_default{border-radius: 4px;
    border: 1px solid #3d59d9;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #3d59d9;
    background: none;
 }
 .btn_default:hover, .btn_default:focus{ background:#3d59d9; color: #ffffff;  }
.btn_small {font-size:16px; padding:10px 25px;}



/* helpers class */
.marginzero{margin: 0px !important;}
.mtop_10 { margin-top: 10px;}
.mtop_15 { margin-top: 15px;}
.mtop_30 { margin-top: 30px;}
.mtop_75{ margin-top: 75px; }

.pleft50{ padding-left: 50px; }
.pright50{ padding-right: 50px; }
img{max-width: 100%;}
p{ font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: 0.8px;}
.nobulleticons{ list-style: none; padding-left:0px; }


/* 
primary color: #3d59d9;
secondary color: #ffcd05;
third colod: #EEEBFB;
*/

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%; box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


/* Header css starts here */

/* Structure */
.market_header {width: 100%; display: block; z-index: 10}
.navbar-brand {height: auto; padding: 13px 15px 0;}

/* Links and dropdown */
.market_header .navbar-default {background-color: #3d59d9; border: none; border-radius: 0; margin-bottom: 0;}
.market_header .navbar-nav{margin: 10px 0;}
.market_header .navbar-nav>li {padding: 0px 10px; background-color: transparent;}

.market_header .navbar-default .navbar-nav>.open>a, .market_header .navbar-default .navbar-nav>.open>a:focus, .market_header .navbar-default .navbar-nav>.open>a:hover {background-color: transparent; color: #ffffff;}
.market_header .navbar-nav>li>a { font-size: 16px; color: #ffffff; font-weight: 400; padding: 15px; transition: all 200ms linear}
.market_header .navbar-default .navbar-nav>li>a:focus, .market_header .navbar-default .navbar-nav>li>a:hover, .market_header .navbar-default .navbar-nav>li>a.active {color: #ffcd05;}
.market_header .navbar-default .navbar-nav>li.client_login a {background-color: rgba(255, 255, 255, 0.4); border-radius: 4px; transition: 0.4s;}
.market_header .navbar-default .navbar-nav>li.client_login a:hover , .market_header .navbar-default .navbar-nav>li.client_login a:focus {background-color: rgba(255, 255, 255, 0.5);}
.market_header .navbar-nav>li a.menubtn{ top:15px;padding:0px; right:-10px;    width: 30px; text-align:center; height: 30px; z-index: 1;cursor: pointer;position: absolute; right: 0;}
    
.market_header .navbar-nav>li.frstlvl{ padding-right: 20px; }
.activeparent { color:#ffcd05 !important}
/*.activeparent::after{    content: "\f0d8";
    position: absolute;
    left: 48%;
    bottom: -32px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    color: white;}
*/
ul.orangebulletlist {
    padding-left: 20px;
    list-style: none;
    float: left;
    width: 100%;
}

ul.orangebulletlist li {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}
ul.orangebulletlist li p{ margin-bottom: 0px; }
ul.orangebulletlist li::before {
    content: "\2022";
    margin-left: -18px;
    font-size: 25px;
    width: 37px;
    color: #ffa705;
    position: absolute;
    top: 0px;
    line-height: 20px;
}
.socialpages-pintrest #socialpage_third.blue_block {
    padding: 0px;
}
ul.orangebulletlist.twocolumn li {
    float: left;
    width: 50%;
}
#socialpage_first h3{color:#3d59d9; font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: left;
}
ul.careerlist{ padding-left: 20px;}
ul.careerlist li {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: 0.8px;
}
.careerpage .blue_block{ padding-top: 0px; }
.careerpage .category_block{margin-bottom: 0px;} 
.careerpage hr.career_sep{ border-color: #B3BBDC; margin: 75px 0; }
.padbtm100{ padding-bottom: 100px; }
.bymember{ display: flex; align-items: center; font-size: 16px; }
.bymember span { width: 30px; height: 30px; overflow: hidden; border-radius: 50%;  margin-right:10px;}
.bymember span img { height: 100%; max-width: unset !important;}
.quoting{ font-size: 20px; font-weight: bold; }
.ourblogpage .blue_block#bestplan{ padding-top: 100px }
.ourblogpage .container .row.blogbox{ display: flex; align-items: center; }
span.date { float: left; margin: 10px 0; font-size: 20px;}
.searcharea { float: left; width: 100%; padding: 75px 0;}
a.previouslink, a.nextlink { color: #3d59d9; font-size: 16px; font-weight: bold;text-transform: uppercase; font-size: 16px; font-weight: bold; font-stretch: normal; font-style: normal;line-height: 1.88;letter-spacing: 0.8px;}
.searcharea .container{ display: flex; align-items: center; }
.fieldarea { width: 567px; margin: 0 auto;}
.fieldarea .input-group { display: flex; width: 371px; float: left; margin-right: 20px; background: #f4f5f9; padding: 10px 0 10px 20px;}
.fieldarea .input-group input{ box-shadow: none; border: 0px; background: none; }
.fieldarea #button-search{ background: none; color: #3d59d9; font-size: 20px; padding: 0 20px 0 0px;}
.dropdownlselect{ width:175px; display: flex; position: relative;}
.fieldarea  select{    background: #f4f5f9; width: 100%; /* Here's the code we need */ -webkit-appearance: none; -moz-appearance: none;-ms-appearance: none; -o-appearance: none; appearance: none; padding: 15px 25px 15px 20px; font-size: 16px; width:100%; border: 0px;}
.dropdownlselect::after{font-family: FontAwesome; content: '\f107'; font-size: 28px; position: absolute; top: 8px; right: 15px; color: #434B67; pointer-events: none;}
.ourblogpage .white_block #droppingpageblueblock { padding: 0 100px 0 0; color: black;}
.ourblogpage .blue_block #droppingpageblueblock { padding: 0 0 0 100px; }
.ourblogpage .white_block #droppingpageblueblock p, .ourblogpage .white_block #droppingpageblueblock h2 a{ color: #000000;}
.ourblogpage .white_block hr.yellowrunderline{ color: #000000; }

.comingsoonbox{ padding: 50px 0; min-height: 300px; display: flex;justify-content: center;flex-direction: column;align-items: center;}
.comingsoonbox h1{color:#3d59d9}
.comingsoonbox .bottomleft img{ width: 300px; margin:0 auto 50px; }
.blogdtl figure{ text-align: center; margin-bottom: 20px; }
.blogdtl ul {
    padding-left: 20px;
    list-style: none;
    float: left;
    width: 100%;
}
.blogdtl ul li {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
}
.blogdtl ul li:before {
    content: "\2022";
    margin-left: -18px;
    font-size: 25px;
    width: 37px;
    color: #ffa705;
    position: absolute;
    top: 0px;
    line-height: 20px;
}
.btn-shopify{ background: transparent;border:0px; padding:0px; }
.btn-shopify img{ width:200px; }
#frmShopify .input-group.mb-3{
        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
#frmShopify .input-group.mb-3 input{    background-color: #ffffff;
    font-size: 15px;
    color: #303030;
    border: 1px solid #cccde3;
    border-radius: 3px;
    height: auto;
    width: auto;
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;}
    #frmShopify .input-group.mb-3 .input-group-append {    display: flex;
    margin-left: -1px;}
    #frmShopify .input-group.mb-3 .input-group-append span{    border: 1px solid #d4d8de;
    background: #dde0e5;
    color: #8A98AC;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* color: #495057; */
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border-radius: .25rem;}
    #frmShopify .btn-primary{    color: #ffffff;
    background-color: #3d59d9;
    border-color: #3d59d9;
    box-shadow: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 12px;}
   #frmShopify .btn-primary:hover {
    background-color: #ffcd05;
    border-color: #ffcd05;
}
@media (min-width: 992px) { 
.market_header .navbar-nav>li.frstlvl:hover ul.frstlvl-list{ display: block; z-index: 10; visibility: visible; -webkit-transform: rotateX(0) translateZ(0); -moz-transform: rotateX(0) translateZ(0); transform: rotateX(0) translateZ(0); top: 100%; padding: 10px 0;}
}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list{ display: none; position: absolute; background: #3d59d9; display:none; padding: 0px; list-style-type: none; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); border-radius: 5px; -webkit-transition: all .3s ease-in; -o-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in;}
.market_header .navbar-nav>li.frstlvl > ul.frstlvl-list > li{ padding-right: 20px; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li{ float: left; width: 100%;position: relative; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li a { float: left; padding: 10px 15px; white-space: nowrap; width: 100%; color: white;}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li a span.fa{ margin-left:5px; font-size: 16px; }
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.scndlvl ul.scndlvl-list { left: 0px; position: absolute; left: 100%; background: black; position: absolute; background: #3d59d9; opacity: 0; padding: 0px; list-style-type: none; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); border-radius: 5px; -webkit-transition: all .3s ease-in; -o-transition: all .3s ease-in; -moz-transition: all .3s ease-in; transition: all .3s ease-in; min-width: 200px;}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li:hover ul.scndlvl-list { opacity: 1;  z-index: 10; visibility: visible; -webkit-transform: rotateX(0) translateZ(0); -moz-transform: rotateX(0) translateZ(0); transform: rotateX(0) translateZ(0); top: -moz-calc(100% - 20px); left: 100%; padding: 10px 0;}
.market_header .navbar-nav>li.frstlvl ul.frstlvl-list li a.menubtn {
    right: 10px;
    left: auto;
    width: 30px;
    height: 30px;
    top: 0px;
}
.card{  transition: all .25s cubic-bezier(.17,.67,.69,.85); transition-property: opacity,box-shadow,-webkit-transform; transition-property: opacity,transform,box-shadow; transition-property: opacity,transform,box-shadow,-webkit-transform;}
.card:hover{-webkit-transform: translateY(-5px); transform: translateY(-5px); cursor: pointer; z-index: 4;}
a{transition: all 200ms linear;}
a:hover{ color: #ffcd05; text-decoration: none;}
/* BannerBlock css starts here */
.banner_block { padding: 75px 0 100px 0; }    
.banner_left a.btn-primary:hover{ color :#ffffff !important; }
.ellipse_bg {position: absolute; right: -100px; top: 00px; width: 200px; height: 200px; border-radius: 50%; background-color: #3d59d9; opacity: 0.05;}



/* Client testimonial css starts here */
.testimonial_block {float: left; width: 100%;}
.homepage .testimonial_block{ border-top:0px; }
.client_logo_block { background-color: #EEEBFB; padding: 100px 0;}
.client_logo_block { text-align: center; outline: none;}
.client_logo_block img { display: inline; max-width: 100%; min-width: 100%; min-height: 100%;}
.client_logo_block img:focus {outline: none;}


/* Video Section css starts here */
.video_block { padding: 100px 0; float: left; width: 100%; }
.video_block .play_icon { background: url(../images/play_icon.svg); width: 95px; height: 95px; position: absolute; left: 50%; top: 50%; margin-left: -50px; margin-top: -55px; }
.video_block h2{padding-left: 20%; }
.video_block .video_quote span{ color: #3d59d9 }
.video_block .quote_detail{ float:left; margin-top:15px;padding-left: 20%; width:100%; }
.video_block .quote_detail .name{font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal;line-height: 1.5; letter-spacing: 1px; text-align: left; color: var(--black); display:block;}
.video_block .quote_detail .designation{ font-size: 20px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: 1px; text-align: left; color: var(--black); display:block;}


.project_block { float: left; width: 100%; background: #3d59d9; padding: 100px 0 50px;}
.project_block h2{ color: #ffffff; margin: 0px}
.project_block .btn-primary{ padding: 10px 25px; width:max-content; float: left; }
.project_block .btn-primary:hover{color: white !important}
.project_block .productdiv { background: white; border-radius: 5px; float: left; width: 100%; overflow: hidden; margin-bottom:50px; position: relative;}
.project_block .no_bg{ background:none }
.project_block .product_dtl{ height: 175px; bottom: 0px; float: left; width: 100%; padding: 10px 20px; background: white}
.project_block .product_dtl h3{ font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal;text-align: left; color: #000; margin: 0 0 11px;}
.productdiv i.fa{    padding: 25px; font-size: 50px; text-align: center; background: #3d59d9; width: 100px; height: 100px; margin: 35px auto; display: block; border-radius: 50%;}
.productdiv i.fa::before{ color: white }
.services_block{ float: left; width: 100%; background: #3d59d9; padding: 100px 0 200px; background: #eeebfb}
.img_block{ background:url(../images/bg_img.svg) no-repeat ; }
.services_block p{    font-family: Lato; font-size: 50px; font-weight: 900; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: var(--black);}
.serviceitem{padding: 20px 30px; border-radius: 5px;box-shadow: 0 3px 15px 0 rgba(0, 8, 255, 0.11); background-color: white; display: flex; margin-bottom: 25px;}

.serviceitem img{ margin-right: 35px; }
.serviceitem span{color: black; font-size: 18px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.67;letter-spacing: normal;text-align: left;}


.screenshotblock { background: #EEEBFB; float: left; width: 100%; padding: 100px 0;}
.screenshotblock .kpibox .client_logo_block{ padding:0px; }
.screenshotblock .kpibox.container .slick-list { background: #3d59d9; padding: 0px; text-align: center; box-shadow: 0 0 0.8em 1px #637381; border-radius: 4px;}

.info_block{ float: left; width: 100%; padding: 135px 0 100px; }
.info_block .fullwidth{ max-width:100%; }
.info_dtl{padding-left: 10%;}
.info_dtl p{ border-left:1px solid #3d59d9; padding-left: 10px;  font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.88; letter-spacing: 0.8px; text-align: left; color: var(--black);} 


.step_block{ float: left;width: 100%; padding:100px 0; }
.step_block .left_part h2 { margin-top: 0px;}
.step_block .left_part img{ max-width:100%; margin-top: 30px; border-radius: 5px; }
.listitem {  border-radius: 5px; background-color: #eeebfb; padding: 35px 20PX 20px; margin-bottom: 50PX; position: relative; min-height:210px}
.step_list > div:last-child .listitem{ margin-bottom: 0px; }
.listitem span { background: #ffcd05;     color: white; padding: 10px 16px; border-radius: 50%; position: absolute; top: -20px;}
.listitem h3{ margin-top:0px; font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: var(--black);}
.listitem p{ line-height: 1.56; }
.cetner_block { background: #3d59d9; float: left; width: 100%; padding: 100px 0; margin-top: -200px;}
.cetner_block .itemname{float: left; width: 100%; margin-bottom: 75px; display: flex; min-height:80px; position: relative; display: flex;align-items: center;}
.cetner_block .itemname .icondiv{ border-radius: 5px; box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2); background: rgba(255,255,255,0.2); float: left; position: relative; text-align: center; margin-right: 20px;}
.cetner_block .itemname .icondiv img { max-width: 80px;}
.cetner_block .itemname a {font-size: 25px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: white; padding: 10px 0px; display: block;     position: absolute;
    margin-left: 105px; }
.quotetext h2{margin-top: 50px; color:white;}
.quotetext span{    font-family: Lato; font-size: 20px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left; color: white;margin-top: 22px;  float: left;}
footer{ background: #1d1f30; padding: 100px 0; float: left;width: 100% }
footer h2.behappytext{color: white;  font-size: 35px; font-weight: 200 !important;font-stretch: normal; font-style: normal; line-height: 1.17; letter-spacing: normal; text-align: left;}
h3.linkheading{  font-size: 20px; font-weight: bold;   font-stretch: normal; font-style: normal;   line-height: 1.2; letter-spacing: normal; margin-bottom: 25px;   text-align: left; color:#ffffff;} 
ul.linklist{ padding:0px; list-style-type: none; float: left; width:100%; }
ul.linklist li { float: left; margin-right:50px; margin-bottom: 20px; }
ul.linklist li a  { font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.19; letter-spacing: normal; text-align: left; color:white;}
#quickinfo p{ color: white; }
#plancategory{ display: flex; flex-direction: column; align-items: center; }
#plancategory > div{max-width: 360px;}

#contactinfo > div p { color: white;font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.88; letter-spacing: normal; text-align: left; }
#contactinfo > div{ display:table;}
#contactinfo > div .fa { color: white; line-height: 30px; margin-right: 15px; font-size: 15px; width:30px; display:table-cell}
#contactinfo > div a{ color:white; }

#newsletter{}
#newsletter label{ color:#ffffff; }
#newsletter .input-group{border-radius: 4px; display: flex; background-color: #3e415e;}
#newsletter .input-group input{ background: none; border:0px; color: white; font-size: 16px; }
#newsletter .input-group input:focus{box-shadow:none;}
#newsletter .input-group .input-group-append .btn{ background:transparent; padding-left: 5px; }
#newsletter .input-group .input-group-append .btn .fa{font-size: 25px; color: yellow;}
.socialmedia{overflow: hidden;}
.socialmedia ul{list-style-type: none; margin: 20px 0; padding-left:0px}
.socialmedia ul li { float: left;}
.socialmedia ul li a { float: left; margin: 0 30px 0 0;}
.copyrighttext{clear: both;margin-top: 20px;display: block; color: #fff;font-size: 13px;}
#ourproduct a{    background: #24273b; float: left; padding: 20px;}
#ourproduct p{font-family: SanFranciscoDisplay; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.56; letter-spacing: normal; text-align: left; color: white; clear: both; margin-top: 20px; float: left;}
.trendingblogslider .client_logo_block{ background: none; padding: 0px 10px; }
.trendingblogslider .client_logo_block .slick-list{ margin:0 -10px; }
.trendingblogslider .client_logo_block span{font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.56; letter-spacing: normal; text-align: left;padding: 5px 0px; float: left; width: 100%; color: white;}
.client_logo_block a div{ overflow: hidden;height:100px; }
#trendingblog .slick-next{ top:-35px;right:0px; }
#trendingblog .slick-prev { left:unset; right: 35px; top: -35px;}
#trendingblog .slick-prev:before,#trendingblog .slick-next:before{ color:#3d59d9;font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px; }
#trendingblog .slick-prev:before { content: "\f060";}
#trendingblog .slick-next:before{ content: "\f061" }
/* Breadcrumbs Start */
.breadcrums { padding: 30px 0; width: 100%; overflow:hidden; display:block;}
.breadcrums a, .breadcrums span { font-size: 16px; font-weight: 400; font-stretch: normal; font-style: normal; line-height: 1.19; letter-spacing: normal;text-align: left;}
.breadcrums a{ color:#c9c9c9 }
.breadcrums a .fa{ margin-right: 5px; color: #3d59d9 }



/* Service Page */
.bnnerarea{ margin: 50px 0; display: block; }
.bnnerarea h1{color: #3d59d9; line-height: 70px; font-size: 50px; font-size: 50px; font-weight: 900; font-stretch: normal; font-style: normal; line-height: 1.4; letter-spacing: normal; text-align: center; margin-bottom: 30px;}
.bnnerarea p{ text-align: center;}

.category_block{ margin-bottom: 100px;}
.category_block h2{ line-height: 70px; }
hr.blurunderline { width: 200px; height: 4px; left: 0px; color: #3d59d9; padding: 0px; border-top: 5px solid; margin: 20px 0;}
hr.yellowrunderline { width: 200px; height: 4px; left: 0px; color: #ffcd05; padding: 0px; border-top: 5px solid; margin: 20px 0;}



.pink_block{ float: left; width:100%; padding: 100px 0; background: #eeebfb;}
.white_block{ padding:100px 0; float: left; width: 100% }
.blue_block{ padding: 100px 0; float: left; width:100%; background: #3d59d9 }
.nobullet{ list-style:none; padding: 0px;  float: left; width: 100%}
ul.nobullet li { font-size: 16px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.88; letter-spacing: 0.8px; text-align: left;    float: left; margin-right: 30px;}
ul.nobullet li span { margin-right: 5px; float: left; margin-top: -3px;}





/* Services page css start */
.headerimgblock{padding: 0 0 100px 0; position: relative; float: left; width: 100%; overflow: hidden; height: 750px;}
.headerimgblock img{position: absolute; right: 0px; top: 0px; bottom: 0px; width: 45%;}
.headerimgblock .imagediv{position: absolute; right: 0px; top: 0px; bottom: 0px; width: 45% ; background-size: cover; background-position: center; }
.headerimgblock h2{ color: #3d59d9 }
.ppcimg{background: url("../images/db-01.webp") no-repeat;}
.seoimg{background: url("../images/seo_banner.webp") no-repeat;}
.shopifyimg{background: url("../images/shopify_banner.webp") no-repeat;}
.facebookbanner{background: url("../images/social_facebook_banner.webp") no-repeat;}
.dropshoppingbanner{background: url("../images/dropshoppingbanner.webp") no-repeat;}


#payperblock .notearea, #seo_page_block_second .notearea { background: white; padding: 20px; border-radius: 5px; box-shadow: 0 5px 20px 0 rgba(0, 17, 255, 0.16);}
#payperblock .imgthumb{ width: 250px; margin-top: 25px;}
#payperblock .payfor_block{ float: left; width: 100% ;padding:100px 0; }
#payperblock ul{ padding-left: 20px; list-style:none; float: left; width: 100% }
#payperblock ul li { width: 100%; float:left; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.13; letter-spacing: normal; text-align: left; position: relative;}
#payperblock ul li i{ float: right; line-height: 50px; font-size: 22px; }
#payperblock ul li::before { content: "\2022"; margin-left: -18px; font-size: 25px; width: 37px; color: #ffa705; position: absolute; top: 0px; line-height: 60px;}
#payperblock ul li h3 { font-size: 20px; font-weight: bold;}

#videoblock ul { float: left; width: 100%; margin-top: 15px; padding:0px; list-style: none}
#videoblock ul li { float: left;width: 50%; margin-bottom: 15px;}
#videoblock ul li div{ font-weight: bold; font-size: 16px; }
#videoblock ul li div span{ float: right; width:100px; color: #3d59d9; }

.imgblock { padding: 100px 0; position: relative; float: left; width: 100%; overflow: hidden;}
.imgblock .imagediv{position: absolute; left: 0px; top: 0px; bottom: 0px; width: 45% ;background: url("../images/ppc_management_bg.webp") no-repeat; background-size: cover !important; }
.imgblock ul{ padding-left: 20px; list-style:none; float: left; width: 100% }
.imgblock ul li { width: 50%; float:left; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 2.13; letter-spacing: normal; text-align: left; position: relative;}
.imgblock ul li i{ float: right; line-height: 50px; font-size: 22px; }
.imgblock ul li::before { content: "\2022"; margin-left: -18px; font-size: 25px; width: 37px; color: #3d59d9; position: absolute; top: 0px; line-height: 33px;}

#bestplan{padding-bottom: 50px; text-align: center;}
#bestplan .trialbtn{ margin-top:0px; margin-bottom: 50px; }
#bestplan h2{ color: #ffffff; margin:0px; text-align: center; }
#bestplan p{font-size: 16px; margin-bottom: 50px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.88; letter-spacing: 0.8px; text-align: center; color: white;}
#bestplan .iconblock {background: #eeebfb; border-radius: 5px 5px 0 0; padding: 40px 0; text-align: center;}
#bestplan .iconblock img { max-height: 74px;}
#bestplan .plandtl {  float: left; width:100%; background: #ffffff; padding: 25px; border-radius: 0 0 5px 5px;}
#bestplan .plandtl .plantype{    font-size: 30px; margin-bottom: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.2; letter-spacing: normal; text-align: left;}
#bestplan .plandtl{ margin-bottom: 50px}
#bestplan .plandtl .plantype > span{ float: right; color: #3d59d9 }
#bestplan .plandtl ul{ padding-left: 20px; list-style:none; float: left; width: 100% }
#bestplan .plandtl ul li { float:left; width:100%; font-size: 16px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 3.13; letter-spacing: normal; text-align: left; position: relative;}
#bestplan .plandtl ul li i{ float: right; line-height: 50px; font-size: 22px; }
#bestplan .plandtl ul li::before { content: "\2022"; margin-left: -18px; font-size: 25px; width: 37px; color: #ffa705; position: absolute; top: 0px; line-height: 51px;}
#bestplan .available{color: #43ec92}
#bestplan .notavailable{ color: #ff5858 }
#bestplan .plandtl .btn{ float: right;}
#bestplan .plandtl .btn:hover {
    color: white !important;
}
.banner_block .container > .row{display: flex;align-items: center;}
.banner_block .container > .row .mb-3{margin-bottom: 1rem !important}
.loginbox {
    max-width: 350px;
}
.loginbox .form-control{border:1px solid #3d59d9; height:auto; font-size: 16px; padding: 10px 12px}
.shopifybtn {
    /* border: 1px; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    background: white;
}
.shopifybtn img {
    width: 100px;
    width: 90px;
    margin-left: 10px;
}
p.fontbluebold{ color: #3d59d9; font-weight: bold }
.seo_page .notearea img{ margin-bottom: -125px; }
.paddingrow{ padding:50px 0; }
.aboutuspage .blue_block{ padding:0 0 100px 0; }
.droppingpageblueblock h2{color:#ffffff;}
.teammember{ margin-top: 15px; float: left; width:100%;}
.teammember img{ opacity: 1; width:100%; }
.memberdtl{ padding: 0 15px 15px; background: white; min-height: 65px; }
.teammember i.fa { display: none;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 1;
    top: 50%;
    color: white;
    font-size: 40px;
}
a.teammember:hover i.fa{ display: block; }
a.teammember:hover .memberdtl{ background: #3d59d9; color: #ffffff;  }
a.teammember:hover .memberdtl b{ color: #ffffff;  }
a.teammember:hover img{ opacity: 0.5 }
.teammember .memberdtl b{ font-size: 18px; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;color: #3d59d9;
    float: left;
    width: 100%;
    margin-top: 10px;}
    .teammember .memberdtl span{ font-size: 14px;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;}

/* Services page css end */

#socialpage_second { padding: 250px 0 100px;margin-top: -230px;}
#socialpage_third h2{ margin-top: 0px; }
#socialpage_third h2, #socialpage_third p{ color: white; }
#socialpage_third ul, #droppingpageblueblock ul{ list-style:none; padding: 20px }
#socialpage_third ul li, #droppingpageblueblock ul li{ position:relative; color: white;}
#socialpage_third ul li:before, #droppingpageblueblock ul li:before { content: "\2022"; margin-left: -18px; font-size: 25px; width: 37px; color: #ffa705; position: absolute;top: 0px; line-height: 60px; background: none; line-height: 20px;}
.padleft60{ padding-left:60px !important; }
.centerfullwidthimg{ margin: 100px 0; }
.dropshoppage .blue_block { padding: 100px 0 100px;}
#droppingpageblueblock{ color: #ffffff; padding: 100px 0 0 100px }
#droppingpageblueblock p, #droppingpageblueblock h2 a{ color: #ffffff; }


.contactuspgage .blue_block {
    padding: 200px 0 100px 0;
    margin-top: -200px;
}
.contactuspgage h2{ color: #ffffff; }
.contactuspgage .blue_block #contactblueblock div {
    display: table;
}
.contactuspgage .blue_block #contactblueblock .fa {
    color: white;
    line-height: 30px;
    margin-right: 15px;
    font-size: 15px;
    width: 30px;
    display: table-cell; 
}
.contactuspgage .blue_block #contactblueblock  p {
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
}
.contactuspgage .blue_block #contactblueblock a{color: #ffffff;}
.contactuspgage form label{ color: #ffffff; }
.contactuspgage form .btn.btn_small{margin-top: 15px;}
.contactuspgage form .form-control { height: 40px;}
.contactuspgage form input.form-control::-webkit-outer-spin-button,
.contactuspgage form input.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.contactuspgage form input[type=number] {
  -moz-appearance: textfield;
}
.tpbtmpad{ padding:100px 0; }
#socialpage_second h2, .seo_page h2{ margin-top: 0px; }

.blogdtl .bnnerarea h1{ text-align: left; }
.blogdtl .bnnerarea span.blogdate {
    width: auto;
    height: auto;
    line-height: normal;
    overflow: unset;
    padding-left: 35px;
    font-weight: bold;
}
.blogdtl .bymember a{ padding-left: 5px; } 
.blogdtl h3{    font-size: 30px;
    font-weight: bold;
    color: #000;
    line-height: 45px;}
    .blogbanner{ margin-bottom: 50px; }
    .row.blogdtlsection {
    display: flex;
    align-items: center;
    margin: 50px -15px;
}
.blogdtl .padleft75{ padding-left: 75px; }
.blogdtl .padright75{ padding-right: 75px; }
#closebtn{ display: none; }
#closebtn img{width:30px;}
#headermenu{ width:100%; padding: 0px; }
.market_header .navbar-nav>li.client_login {
    padding-right: 0px;
}
.video_thumb{ border-radius: 10px; background: transparent;
    position: relative;
    height: 0;
        padding-bottom: 28.14%;
    padding-top: 28.14%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 0.3em 1px #637381; }
.video_thumb a{display: block;}
.video_thumb iframe{    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
    .video_thumb a span{position: absolute;
    left: 50%;
    top: 40%;
    font-size: 90px;
    color: white;
    display: flex;
    align-items: center; margin-left: -45px; }
.video_thumb a:hover img{opacity: 0.5;}
    .video_thumb a:hover span{color: #BC181D}
    #homeVideo iframe{height:600px; width:100%;  }
    #homeVideo .modal-content{ background: black !important }

    .screen_slider .slick-dots li button:before{ font-size: 50px; }
@media (max-width: 1499px) { 

  .clientresult .bnnerarea img{ width:950px; }
}
@media (max-width: 1199px) { 
    h1{font-size:50px;}
    h2{font-size:40px;}
    .market_header .navbar-nav>li{padding: 0px 5px}
    .market_header .navbar-nav>li>a{ padding:15px 10px; }
    .video_block h2{padding-left: 10%;}
    .video_block .quote_detail{ padding-left: 10% }
    .step_block{ padding:100px 0; }
    .listitem{ min-height:201px  }
    .cetner_block,#seo_page_block_forth { margin-top: 0px }
    .quotetext h2{margin-top: 0px;}

    /*Service Page */
    .bnnerarea h1{ font-size: 40px; }
    .headerimgblock{ padding-bottom: 50px; }
    .pink_block, .white_block, .imgblock{ padding:50px 0; }
    #bestplan, #latestnews{ padding:50px 0 0 ; }
    .videobox{float: left; width: 100%; text-align: center; margin: 20px 0 0;}
    .videobox iframe{ width:100%; }
    .imgblock ul li{ width:100%; }
    /* terms and policy page start */
    .termsandpolicy .blue_block { margin-top: -170px; padding: 170px 0 0px;}
    .termsandpolicy ul li{ margin-bottom: 20px; }
    .termsandpolicy ul{ padding-bottom: 10px; }
    .clientresult .bnnerarea img{ width:700px; }
    .video_thumb iframe{ width:100%; }
}
@media (max-width: 991px) { 
    h1{font-size:45px;}
    h2{font-size:30px;}
    .market_header .navbar-nav>li{padding: 0px 5px; width:100%; float:left;}
    .market_header .navbar-nav>li>a:first-child { float: left; }
    .navbar-brand{padding: 10px 15px; width: 186px; box-sizing: border-box; margin: 0 auto !important; text-align: center;float: none; display: block;}
    .mobile-toggle{margin-top: 13px;}
    .market_header .navbar-nav>li ul.dropdown-menu::before{display: none;}
    .banner_block, .video_block,footer, .info_block, .step_block, .cetner_block, .blue_block, .client_logo_block{padding:50px 0;}
    .ellipse_bg{ right: 15px }
    .video_block h2 { text-align: center; padding: 0px;}
    .video_block .quote_detail{ padding-left:0px; }
    .video_block .quote_detail .name, .video_block .quote_detail .designation{text-align:center;}
    .video_thumb{text-align: center;}
    .video_thumb iframe{ width:100%; }
    .project_block{ padding:50px 0 0 }
    .services_block{ padding:50px 0 85px; }
    .listitem{min-height:unset;}
    .quotetext{margin-bottom: 30px;}
    .quotetext span{ margin-top: 10px; }
    .cetner_block .itemname{margin-bottom: 10px}
    .cetner_block .itemname a{font-size:20px;}
    .services_block h2{margin-top: 0px}
    .listitem h3 {margin-top: 10px;}
    .socialmedia ul li a {}
    .clientlogin_mobile{ background: transparent; float: right; padding: 4px 0; margin-right: 10px; color:#ffffff; margin-top: 16px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; width: 44px; text-align: center; height: 34px;}
    .clientlogin_mobile .fa{font-size:20px; color: #fff;}
    .clientlogin_mobile .fa:hover, .clientlogin_mobile .fa:focus{color:#ffcd05;}
    .product_mobile_btn{display: block; text-align: center; margin: 0 auto 30px;}
    .headerimgblock .mtop_30 { margin-top: 0px; }
    .shopifyimgblock{margin-bottom: -170px}
    .project_block h2{ text-align: center; width:100%; }
    .bnnerarea,.category_block{ margin-bottom: 50px; margin-top: 0px }
    .category_block h2{ line-height: 1.2; }
    hr.blurunderline{width:150px;}
    .mtop_75{ margin-top: 20px }
    #shopify_page_block_third  {padding:150px 0 50px 0;}
    #headermenu{ height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(61,89,217);
    background-color: rgba(61,89,217, 0.9);
    overflow-x: hidden;
    transition: 0.5s;margin: 0px; padding:0px; }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list{width:100%; float:left; position:relative; -webkit-transition: unset;
    -o-transition: unset; -moz-transition: unset; transition: unset; display:none; box-shadow: none; background:none; padding-left: 10px; margin-bottom: 15px;}
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.scndlvl ul.scndlvl-list{ background:none; margin-bottom: 20px;    position: relative; display:none; padding: 0 0 0 15px;  float: left; width: 100%;left: 0px; box-sizing: border-box; box-shadow: none;}
    .market_header .navbar-nav>li.frstlvl.opensubmenu ul.frstlvl-list, .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.scndlvl.opensubmenu ul.scndlvl-list{ display:block; opacity:1; }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li > a{ width:auto; }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li > a .fa{ transform:rotate(90deg); }
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list. li. a.menubtn span.fa{ transform:rotate(45deg); }
    .market_header .navbar-nav>li.opensubmenu a.menubtn .fa{transform:rotate(-180deg);}
    .market_header .navbar-nav>li.frstlvl ul.frstlvl-list li.opensubmenu a.menubtn span.fa{transform:rotate(-90deg);}
    .market_header .navbar-nav>li a.menubtn{ right:7px; }
    .market_header .navbar-nav>li a.menubtn:hover{ color: white; }
    .centerfullwidthimg{ margin: 50px 0; }
    #droppingpageblueblock{ padding:50px 15px 0; }
    .dropshoppage .blue_block{ padding: 0 0 50px; }
    .socialmenubar ul li a{ font-size: 16px; padding:10px 0 ; }
    .btn-primary{ padding: 10px 25px }
    #socialpage_second > .container  > .row{ display: flex; flex-direction: column; }
    #socialpage_second > .container  > .row > div:first-child{order: 2}
    #socialpage_second{ padding: 50px 0; margin: 0px }
    #seo_page_block_second{ padding:50px 0 100px; }
    .fieldarea { width: 470px;}
    .fieldarea .input-group{ width:275px; }
    .clientresult .whiteblock .imagediv, .clientresult .blue_block .imagediv{
    background-position: center;
    position: relative;
    right: auto;
    left: auto;
    background-size: unset;
    background-position: unset !important;
    height: 354px;
    margin: 30px auto 0;
    width: 600px;
    max-width: 100%; order:2;}
.clientresult .whiteblock {
    display: flex;
    flex-direction: column;
}
#homeVideo iframe{height:400px; width:100%;  }
    .contactuspgage .blue_block{ margin-top: -135px; padding-top: 100px; }
    div#contactblueblock { margin-bottom: 50px; padding:0 30px;}
    #closebtn{ float: right;
    padding: 5px 20px;
    font-size: 40px;
    font-family: cursive;
    color: white; }
    .market_header .navbar-nav{ margin-top: 100px; }
    .market_header .navbar-nav>li.frstlvl{ padding-right: 5px; }
    #closebtn{ display: block; }
    #headermenu{ display: block; }
    .video_thumb a span{ font-size: 50px; margin-left: -25px }
    .client_logo_block a div{ height:120px; }
}
@media (max-width: 768px) { 

    .project_block .btn-primary{ clear: both;margin: 0 auto 50px; float: none; display: block; }
    h1{font-size:35px;}
    h2{font-size:20px;}
    .info_dtl{padding-left: 0px}
    .info_block .imgdiv .fullwidth{max-width: 400px;}
    .info_block .imgdiv{text-align: center;}
    .step_block .left_part{ text-align: center; }
    .step_block .left_part img { margin: 15px auto 30px; border-radius: 5px;}
    footer .row{ margin-bottom: 30px;  }
    footer .footer_left {text-align:center;}
    footer h2.behappytext, h3.linkheading{ text-align: left; }
    #newsletter{ margin-bottom: 30px; }
    .socialmedia ul li {float: none; display: inline-block;}
    .chngorder{    display: flex; flex-direction: column;}
    .chngorder > div:first-child{ order:2; }
    .chngorder > div:last-child{ order:1; }
    .category_block .pleft50{ padding-left: 15px; }
    .bnnerarea h1{ font-size:35px; }
    #trendingblog .client_logo_block {text-align:left}

    .imgblock .imagediv{width:100%;}
    .breadcrums{padding: 10px 0;}
    .headerimgblock .imagediv{ width:100%; }
    #payperblock ul li h3, .listitem h3{font-size:16px;}
    #payperblock ul li::before{ line-height: 55px; }
    p, .listitem p{ font-size:14px; }
    #latestnews .newsblock .newsdtl >a{ font-size: 16px; min-height: unset; }
    #bestplan .plandtl .plantype{ font-size: 22px; }
    #bestplan .plandtl ul li{ line-height: 2.5; }
    #bestplan .plandtl ul li i { line-height: 40px;}
    #bestplan .plandtl ul li::before{ line-height: 40px; }
    .headerimgblock {height: 500px; }

    #shopify_page_block_third{ padding: 50px 0; }
    #shopify_page_block_third ul.nobulleticons li, .socialpages ul.nobulleticons li { float: left; width: 100%; margin-bottom: 15px;}
    .shopifyimgblock{ margin-bottom: 0px }
    #shopify_page_block_second.blue_block{ padding:50px 0; }
    .termsandpolicy .bannerarea{ margin-top: 30px; }
    .verticalbanner{text-align: center;}
    .verticalbanner img{ max-width: 300px;  }
    #socialpage_third .padleft60{ padding-left: 15px !important; margin-top: 30px; }
    .searcharea{ position: relative; }
    a.previouslink, a.nextlink{ position: absolute;top:30px; }
    a.previouslink{ left:15px; }
    a.nextlink{ right:15px; }
    .blogdtl .padleft75{ padding-left: 15px; }
    .blogdtl .padright75{ padding-right: 15px; }
     .video_thumb a span{ font-size: 90px; margin-left: -45px }
    .project_block .productdiv{ display: flex;align-items: center; }
    .project_block .product_dtl{    float: left; padding: 10px 30px 10px 0; height:auto;}
    .productdiv i.fa{margin:25px; font-size: 30px; padding: 22px; height:75px; width:75px;}
}
@media (max-width: 580px) { 
    .banner_block .container > .row{ display: block; }
    .banner_block .container > .row .banner_right{ text-align: center; }
    .banner_block .container > .row .banner_right img {
    width: 275px;
}
    .banner_block .container > .row .banner_left{ text-align: center; }
    .banner_block .loginbox{ margin:0 auto; }
  .video_thumb iframe{width:100%;}
    .col-sm-6.col-xs-6.center_item {width: 100%;}
  .info_block .imgdiv .fullwidth{max-width: 100%}
  hr.yellowrunderline{ margin: 10px 0; }
  /* terms and policy page end */

  .fieldarea .input-group{ width:100%; margin-bottom: 20px; }
  .dropdownlselect{ width:100%; }
  .row.blogdtlsection{ flex-direction: column; }
  .video_thumb a span {
    font-size: 50px;
    margin-left: -25px;
}
.client_logo_block a div{ height:150px; }
}
@media (max-width: 480px) { 
  #videoblock ul li{ width: 100% }
  #videoblock ul li div span{ width:50%; }
}